<!-- 基础空白文档 -->
<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>基础资料填写</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <script type="text/javascript" src="../static/lib/index.min.js"></script>          <!-- 解决移动端适配 -->
  <link rel="stylesheet" href="../static/css/weui.css">
  <link rel="stylesheet" href="../static/css/jquery-weui.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="baseProfile">
    <section class="main">
      <form action="/baseProfile/" method="post">
      <a class="changePortrait"><img src="{{ headimgurl }}"><p>{{ nickname }}</p></a>
      <div class="inputBox">
        <label for="username">用户名
        <input class="username" type="text" id="username" name="username" value="屈骏" placeholder="请输入用户名（必填,别人可见）">
        <input id="openid" type="hidden" value="{{ openid }}" name="openid">
        <input id="nickname" type="hidden" value="{{ nickname }}" name="nickname">
        <input id="sex" type="hidden" value="{{ sex }}" name="sex">
        <input id="country" type="hidden" value="{{ country }}" name="country">
        <input id="province" type="hidden" value="{{ province }}" name="province">
        <input id="city" type="hidden" value="{{ city }}" name="city">
        <input id="language" type="hidden" value="{{ language }}" name="language">
        <input id="headimgurl" type="hidden" value="{{ headimgurl }}" name="headimgurl">
        <input id="phoneNum" type="hidden" value="{{ phoneNum }}" name="phoneNum">
      </label>
      </div>
      <button class="weui-btn weui-btn_primary submitBtn">确定</button>
      </form>
    </section>
  </div>
  <script type="text/javascript" src="../static/lib/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="../static/lib/jquerySession.js"></script>
  <script type="text/javascript" src="../static/js/jquery-weui.min.js"></script>        <!-- 为将来做拓展，引入Jquery weui -->
  <script type="text/javascript" src="../static/lib/fastclick.js"></script>            <!-- 解决点击屏幕延迟，需要测试是否有效，无效再删除 -->
  <script>
    $(function() {
        FastClick.attach(document.body);

        alert($("#openid").val());
        //将个人信息写入session
        window.localStorage.setItem("openid",$('#openid').val());
        window.localStorage.setItem("username",$('#username').val());
        window.localStorage.setItem("nickname",$('#nickname').val());
        window.localStorage.setItem("sex",$('#sex').val());
        window.localStorage.setItem("country",$('#country').val());
        window.localStorage.setItem("province",$('#province').val());
        window.localStorage.setItem("city",$('#city').val());
        window.localStorage.setItem("language",$('#language').val());
        window.localStorage.setItem("headimgurl",$('#headimgurl').val());
        window.localStorage.setItem("phoneNum",$('#phoneNum').val());
        window.localStorage.setItem("myJob","0");             //设置工种初始值，防止个人中心报错

    });
  </script>
</body>

</html>