<!-- 基础空白文档 -->
<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>立即拨号</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <script type="text/javascript" src="../static/lib/index.min.js"></script>          <!-- 解决移动端适配 -->
  <link rel="stylesheet" href="../static/css/weui.css">
  <link rel="stylesheet" href="../static/css/jquery-weui.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="role page dail">
    <section class="main flex">
    </section>
  </div>

  <script type="text/javascript" src="../static/lib/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="../static/js/jquery-weui.min.js"></script>        <!-- 为将来做拓展，引入Jquery weui -->
  <script type="text/javascript" src="../static/lib/fastclick.js"></script>            <!-- 解决点击屏幕延迟，需要测试是否有效，无效再删除 -->
  <script type="text/javascript" src="../static/js/utility.js"></script>
  <script>
        $(function() {
        FastClick.attach(document.body);
        var $checkedNum = window.localStorage.getItem("checkedNum");
        var $checkedPortraitUrl = window.localStorage.getItem("checkedPortraitUrl");
        var $checkedUsername = window.localStorage.getItem("checkedUsername");
        var str = '<div class="changePortrait" >' +
            '<img class="portrait" src="'+ $checkedPortraitUrl  +'">' +
            '<p class="username">'+ $checkedUsername  +'</p></div>' +
            '<h1 class="phoneNum"><a href="tel:' + $checkedNum +'">'+ $checkedNum  +'</a></h1>' +
            '<div><a href="javascript:;" class="backBtn weui-btn weui-btn_default confirmBtn">返回列表页</a>' +
            '<a href="tel:' + $checkedNum +'"'+ ' class="weui-btn weui-btn_primary confirmBtn">拨打号码</a></div>'
        $(".main").html(str);
        $(".backBtn").click(function () {
            location.href ="/workerList/?openid="+ window.localStorage.getItem("openid");
        });
    });
  </script>
</body>

</html>