<!-- 基础空白文档 -->
<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>历史查看</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <script type="text/javascript" src="../static/lib/index.min.js"></script>          <!-- 解决移动端适配 -->
  <link rel="stylesheet" href="../static/css/weui.css">
  <link rel="stylesheet" href="../static/iconfont/iconfont.css">
  <link rel="stylesheet" href="../static/css/jquery-weui.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="history">
    <!-- 主体内容 -->
    <section class="main">
      <ul class="listCon">
      </ul>
    </section>
    <!--<div class="jiaobiaoBox stop offline">-->
  </div>

  <script type="text/javascript" src="../static/lib/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="../static/lib/jquerySession.js"></script>
  <script type="text/javascript" src="../static/js/jquery-weui.min.js"></script>        <!-- 为将来做拓展，引入Jquery weui -->
  <script type="text/javascript" src="../static/lib/fastclick.js"></script>            <!-- 解决点击屏幕延迟，需要测试是否有效，无效再删除 -->
  <script>
    // 开启fastclick功能
    $(function() {
        FastClick.attach(document.body);

        $.ajax({
            url: "history.json",              //todo:需要设置正确的请求地址
            type: "post",
            data: {
                openid: window.localStorage.getItem("openid"),
            },
            success: function (data) {
                showData(data.listData);
            }
        });

        //渲染数据
        function showData(data) {
            $.each(data, function (key, val) {
                //造tag标签
                var $tagArr = val.tag.split(',');
                var $tags = '<span class="tag">' + $tagArr[0] + '</span><span class="tag">' + $tagArr[1]+ '</span>';


                //拼大字符串
                var str = "";
                str += ' <li class="listItem flex">\n' +
                '          <div class="portraitBox">\n' +
                '            <img src="' + val.portraitUrl + '" >\n' +
                '            <p>' + val.username + '</p>\n' +
                '          </div>\n' +
                '          <div class="infoBox flex">\n' +
                '              <div class="list_hd flex">\n' +
                '                  <div class="tagBox">' + $tags + '</div>\n' +
                '                  <div class="star star' + val.star + '"></div>' +
                '                </div>\n' +
                '                <div class="list_bd flex">\n' +
                '                </div>\n' +
                '                <div class="list_ft flex"><span class="userid">'+ val.userid + '</span>\n' +
                '                    <a href="javascript:;" class="complain weui-btn weui-btn_mini weui-btn_default">申诉</a>\n' +
                '                    <a href="javascript:;" class="check weui-btn weui-btn_mini weui-btn_success">' + val.phoneNum + '</a>\n' +
                '                </div>\n' +
                '          </div>\n' +
                '        </li>';

                $('.listCon').append(str);
            });


            //是否可见
            function isVisible(vis, val) {
                return vis ? '<a href="tel:' + val + '"' + ' class="dial weui-btn weui-btn_mini weui-btn_primary">' + val + '</a>' : '<a href="javascript:;" class="check weui-btn weui-btn_mini weui-btn_primary">查看电话号码</a>'
            }

            //距离格式化
            function formatDistance(val) {
                if (val > 1000) {
                    return (val / 1000).toFixed(2) + ' km';
                } else {
                    return parseInt(val) + ' m';
                }
            }

            //日期格式化
            function formatTime(str) {
                var oDate = new Date(str),
                    oYear = oDate.getFullYear(),
                    oMonth = oDate.getMonth() + 1,
                    oDay = oDate.getDate(),
                    oHour = oDate.getHours(),
                    oMin = oDate.getMinutes(),
                    oSen = oDate.getSeconds(),
                    oTime = getzf(oMonth) + '-' + getzf(oDay) + ' ' + getzf(oHour) + ':' + getzf(oMin);//最后拼接时间
                return oTime;
            };

            //补0操作
            function getzf(num) {
                if (parseInt(num) < 10) {
                    num = '0' + num;
                }
                return num;
            }

        }

        $("complain").click(function () {
            $.alert("申诉待定","text")
        })


    });
  </script>
</body>

</html>