<!-- 基础空白文档 -->
<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>历史查看</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <script type="text/javascript" src="../static/lib/index.min.js"></script>          <!-- 解决移动端适配 -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <link rel="stylesheet" href="../static/iconfont/iconfont.css">
  <link rel="stylesheet" href="../static/css/style201806032229.css">
</head>

<body class="page">
  <div class="history">
    <section class="main">
      <ul class="listCon">
      </ul>
    </section>
  </div>

  <!--隐藏的后台差值尽量写在页面底部，id名为openidInsert，与openid做区分-->
  <span id="openidInsert" style="display:none;">{{ openid }}</span>

  <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script type="text/javascript" src="../static/lib/jquerySession.js"></script>
  <script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
  <script>
    // 开启fastclick功能
    $(function() {
        FastClick.attach(document.body);

        window.localStorage.setItem("openid",$('#openidInsert').text());

        //初始化数据
        var $j=0;
        var $totalPage = 10;
        var $currentPage = 1;
        loadData($currentPage);

        //上拉加载
        var $loading = false;  //状态标记
        $(document.body).infinite().on("infinite", function() {
            if($loading) return;
            $loading = true;
            ++ $currentPage;
            if($currentPage <= $totalPage ){
                // addNum($currentPage,$byDis,$byPubTime);
                loadData($currentPage);
                $loading = false;
            } else {
                console.log("不执行了")
                $(document.body).destroyInfinite();
                $('.loadMoreTip').css("display","none");
                $('.bottomTips').css("display","block");
                $loading = false;
            }

        });

        // 加载数据时状态显示
        $('.weui-loadmore').ajaxStart(function () {
            $(this).show();
        });

        $('.weui-loadmore').ajaxStop(function () {
            $(this).hide();
        });

        //加载对应页码数据
        function loadData(page) {
            $j++;
            console.log("开始执行loadData函数,第"+ $j + "次执行");
            console.log('第'+ $j + '次执,loadData向后台请求的页码数'+ page);

            $.ajax({
                async: true,
                url: "/history_ajax/",                    /*/history_ajax/*/
                dataType: "json",
                type: "post",
                data: {
              openid: window.localStorage.getItem("openid"),
//                    openid: "oT69X1PX1jG6Ojhij3tQVOGSnWzQ",
                    page: page
                },
                success: function (data) {
                    $totalPage = data.totalPage;
                    $currentPage = data.currentPage;
                    console.log('第'+ $j + '次执,现在数据中的totalPage:'+ $totalPage);
                    console.log('第'+ $j + '次执,现在数据中的currentPage,也是自身的$currentPage:'+ $currentPage);
                    showData(data.listData);
                    console.log("第" + $j + "次请求结束");
                },
                error: function (error) {
                    console.log(error.readyState, error.statusText);
                }
            });


        }

        //渲染数据
        function showData(data) {
            $.each(data, function (key, val) {
                //造tag标签
                var $tagArr = val.tag;
                var $tags = '<span class="tag">' + $tagArr[0] + '</span><span class="tag">' + $tagArr[1]+ '</span>';


                //拼大字符串
                var str = "";
                str += ' <li class="listItem flex">\n' +
                '          <div class="infoBox flex">\n' +
                '              <div class="list_hd flex">\n' +
                '                  <div class="tagBox"><span class="username">' + val.username + '</span>' + $tags + '</div>\n' +
                '                  <div class="star star' + val.star + '"></div>' +
                '                </div>\n' +
                '                <div class="list_bd flex">\n' +
                '                </div>\n' +
                '                <div class="list_ft flex"><span class="userid">'+ val.userid + '</span>\n' +
            '                    <input type="button" class="complain weui-btn weui-btn_mini weui-btn_default" value="申诉"/>\n' +
            '                    <a href="tel:'+ val.phoneNum + '" class="check weui-btn weui-btn_mini weui-btn_success">' + val.phoneNum + '</a>\n' +
                '                </div>\n' +
                '          </div>\n' +
                '        </li>';

                $('.listCon').append(str);
            });


            //是否可见
            function isVisible(vis, val) {
                return vis ? '<a href="tel:' + val + '"' + ' class="dial weui-btn weui-btn_mini weui-btn_primary">' + val + '</a>' : '<a href="javascript:;" class="check weui-btn weui-btn_mini weui-btn_primary">查看电话号码</a>'
            }

            //距离格式化
            function formatDistance(val) {
                if (val > 1000) {
                    return (val / 1000).toFixed(2) + ' km';
                } else {
                    return parseInt(val) + ' m';
                }
            }

            //日期格式化
            function formatTime(str) {
                var oDate = new Date(str),
                    oYear = oDate.getFullYear(),
                    oMonth = oDate.getMonth() + 1,
                    oDay = oDate.getDate(),
                    oHour = oDate.getHours(),
                    oMin = oDate.getMinutes(),
                    oSen = oDate.getSeconds(),
                    oTime = getzf(oMonth) + '-' + getzf(oDay) + ' ' + getzf(oHour) + ':' + getzf(oMin);//最后拼接时间
                return oTime;
            };

            //补0操作
            function getzf(num) {
                if (parseInt(num) < 10) {
                    num = '0' + num;
                }
                return num;
            }

            //申诉弹窗
            $('.complain').click(function (event){
                var $thisList = $(event.currentTarget);
                var $rateVal = $thisList.siblings('.userid').html();
//                alert("申诉获取的用户id" + $rateVal);
                var $reason5 = '<span class=""></span>申诉原因5</span>'
                var $reason4 = '<span class=""></span>申诉原因4</span>'
                var $reason3 = '<span class=""></span>申诉原因3</span>'
                var $reason2 = '<span class=""></span>申诉原因2</span>'
                var $reason1 = '<span class=""></span>申诉原因1</span>'
                $.actions({
                    actions: [{
                        text: $reason5,
                        onClick: function() {
                            complain($rateVal,5);
                        }
                    },{
                        text: $reason4,
                        onClick: function() {
                            complain($rateVal,4);
                        }
                    },{
                        text: $reason3,
                        onClick: function() {
                            complain($rateVal,3);
                        }
                    },{
                        text: $reason2,
                        onClick: function() {
                            complain($rateVal,2);
                        }
                    },{
                        text: $reason1,
                        onClick: function() {
                            complain($rateVal,1);
                        }
                    }]
                });

                function complain(id,complainid) {
                    //发送申诉数据
                    $.ajax({
                        url:"/complain/",
                        type: "post",
                        data: {
                            openid: window.localStorage.getItem("openid"),
//                          openid: "oT69X1PX1jG6Ojhij3tQVOGSnWzQ",
                            userid: id,
                            rateVal: complainid
                        },
                        success: function () {
                            $.toast("申诉成功，请等待客服处理", "text");
                            $thisList.val('处理中');
                            $thisList.attr("disabled","disabled");
                            $currentPage = 1;
                            loadData($currentPage);
                        }

                    })
                }

            });



        }


    });
  </script>
</body>

</html>