<!-- 基础空白文档 -->
<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>选择工种</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <script type="text/javascript" src="../static/lib/index.min.js"></script>          <!-- 解决移动端适配 -->
  <link rel="stylesheet" href="../static/css/weui.css">
  <link rel="stylesheet" href="../static/iconfont/iconfont.css">
  <link rel="stylesheet" href="../static/css/jquery-weui.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="jobs">
    <header>
      <i class="iconfont icon-location"></i><span>深圳市福田区新民路24号</span>
    </header>
    <!-- 主体内容 -->
    <section class="main">
      <div class="jobsBox">
        <div class="jobs_hd">请选择您需要的工种，最多两个</div>
        <div class="jobs_bd flex" id="inputsParent">

        </div>
      </div>
    </section>

    <!-- 底部 -->
    <footer>
      <a href="javascript:;"><button  class="smallBtn relocate"><i class="iconfont icon-dingwei"></i></button></a>
      <a href="javascript:;"><button  class="bigBtn"><i class="iconfont icon-jia1"></i>立即发布</button></a>
      <a href="/userCenter"><button  class="smallBtn"><i class="iconfont icon-wode"></i></button></a>
    </footer>
  </div>

  <script type="text/javascript" src="../static/lib/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="../static/lib/jquerySession.js"></script>
  <script type="text/javascript" src="../static/js/jquery-weui.min.js"></script>        <!-- 为将来做拓展，引入Jquery weui -->
  <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>        <!-- 引入微信js sdk -->
  <!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=dhRLKMR9QUO4wHmnnSZTarta"></script>   &lt;!&ndash; 百度地图api &ndash;&gt;-->
  <script type="text/javascript" src="../static/lib/fastclick.js"></script>            <!-- 解决点击屏幕延迟，需要测试是否有效，无效再删除 -->
  <script>

    $(function() {

        // 开启fastclick功能
        FastClick.attach(document.body);

        //调用微信sdk配置
        wx.config({
            online:true,
            debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: "wx4afee8acfb13f3a3", // 必填，企业号的唯一标识，此处填写企业号corpid
            timestamp: 1280977330000, // 必填，生成签名的时间戳
            nonceStr: "aaaaa", // 必填，生成签名的随机串
            signature: "bbbbb",// 必填，签名，见附录1
            jsApiList: [
                'getLocation'
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        //通过error接口处理失败验证
        wx.error(function (res) {
            $.scojs_message(res.errMsg, $.scojs_message.TYPE_ERROR);
        });
        //配置成功后，调用接口
        wx.ready(function() {
            function lacation() {
                wx.getLocation({
                    type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                    success: function (res) {
                        var $latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                        var $longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                        var $speed = res.speed; // 速度，以米/每秒计
                        var $accuracy = res.accuracy; // 位置精度

                        $.session.set('latitude',$latitude);
                        $.session.set('longitude',$longitude);

                        // baiduLocation(res.latitude,res.longitude);
                    }
                });
            }
            lacation();

            $('.relocate').click(function () {
                lacation();
            })

        });



        //模拟session数据
        $.session.set('role',"1");
        var $choosedJob = [1,3];
        $.session.set('myJob',$choosedJob);

        //工种数据
        var $jobList = [
            {
                title: "土建木工",
                value: 1
            },{
                title: "装修木工",
                value: 2
            },{
                title: "铺砖工",
                value: 3
            },{
                title: "铁工",
                value: 4
            },{
                title: "空调工",
                value: 5
            },{
                title: "贴墙纸工",
                value: 6
            },{
                title: "刮腻子工",
                value: 7
            },{
                title: "仿古油漆工",
                value: 8
            },{
                title: "油性油漆工",
                value: 9
            },{
                title: "彩绘工",
                value: 10
            },{
                title: "高空作业工",
                value: 11
            },{
                title: "铝焊工",
                value: 12
            },{
                title: "不锈钢焊工",
                value: 13
            },{
                title: "特殊焊工",
                value: 14
            },{
                title: "绿化工",
                value: 15
            },{
                title: "汽修工",
                value: 16
            },{
                title: "铲车/钩机",
                value: 17
            },{
                title: "压路机/泥头车",
                value: 18
            },{
                title: "吊车货车司机",
                value: 19
            },{
                title: "高压电工",
                value: 20
            },{
                title: "低压电工",
                value: 21
            },{
                title: "弱电工",
                value: 22
            },{
                title: "临时杂工",
                value: 23
            },{
                title: "网络布线维护",
                value: 24
            },{
                title: "雕刻师傅",
                value: 25
            },{
                title: "高空作业工",
                value: 26
            },{
                title: "水泥塑石工",
                value: 27
            }
        ]

        var p_tag,inputs,selectInputs=[];

        p_tag = document.getElementById("inputsParent");
        inputs = p_tag.getElementsByTagName("input");
        /*for(var i=0; i<inputs.length; i++){
            if(inputs[i].checked == true) selectInputs.push(inputs[i]);
        }*/


        //渲染工种按钮
        $.each($jobList,function (key,val) {
            var str = "";
            str += '<input value="1" type="checkbox" name="chRates"  value="'+ val.value + '" /><label>' + val.title +'</label>'

            $('.jobs_bd').append(str);
        });


        $('.jobs_bd input').click(function () {
            var l = $('.jobs_bd input').length;
            k = 0;
            for (i = 0; i < l; i++) {
                if (inputs[i].checked == true) {
                    //这里暂时还有点问题
                    /*$('.bigBtn').addClass('publish');
                    $('.bigBtn .icon-jia1').removeClass('icon-jia1').addClass('icon-gouxuan');*/
                    k++;
                    if (k > 2) {
                        inputs[i].checked = false;
                    }
                }else {
                    /*$('.bigBtn').removeClass('publish');
                    $('.bigBtn .icon-gouxuan').removeClass('icon-gouxuan').addClass('icon-jia1');*/
                }
            }

        });



        /*if($.session.get('myJob').length !== 0) {
            //页面初始化读取session 判断有几个按钮被选中
            var $activeArr = $.session.get('myJob').split(',');
            $.each($activeArr,function (key,val) {
                $.each($('.job'),function () {
                    //如果session中已标注的岗位与button组中对应的按钮value值对应上的话，添加active class
                    if($(this).attr("value") == val ) {
                        $(this).addClass('active');
                        $('.bigBtn').addClass('publish');
                        $('.bigBtn .icon-jia1').removeClass('icon-jia1').addClass('icon-gouxuan');
                    }
                });

            });
        }*/




        //判断是否有工种被选中，操作发布按钮的状态
        var $myJobArr = $.session.get('myJob').split(",");
        if ( $myJobArr.length > 0) {
            //seesion 不为空时激活发布按钮
            $('.bigBtn').addClass('publish');
            $('.bigBtn .icon-jia1').removeClass('icon-jia1').addClass('icon-gouxuan');
        } else {
            //seesion 为空时切换回按钮的置黑状态
            $('.bigBtn').removeClass('publish');
            $('.bigBtn .icon-gouxuan').removeClass('icon-gouxuan').addClass('icon-jia1');
        }


    });


    //(todo:百度地图位置转换有待验证
    /*function baiduLocation(longitude, latitude) {
        var json = GPS.bd_encrypt(latitude, longitude);
        console.log("json" + JSON.stringify(json));
        var myGeo = new BMap.Geocoder();
        // 根据坐标得到地址描述
        myGeo.getLocation(new BMap.Point(json.lon, json.lat), function (result) {
            if (result) {
                Tip.layerTip("您当前的位置：" + result.address);
            //  alert(JSON.stringify(result));
            }
        });
    }*/


      //如果没有publish类（没有选工种），则不能发布，弹窗提示
      /*$('.bigBtn').click(function () {
          if($('.bigBtn.publish').length == 1){
              //至少选了1个工种
              $.confirm("发布后，您的消息将被各位老板看见，您可能会接到老板的招工电话，请保持手机畅通","确认发布", function() {
                  //点击确认后跳转到列表页
                  //  by qujun：此处需要回调微信链接
                  location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx4afee8acfb13f3a3&redirect_uri=http://bobozhu.cn/workerList/&response_type=code&scope=snsapi_userinfo&state=snsapi_base#wechat_redirect"
              }, function() {
                  //点击取消
                  return false;
              });
          } else {
              //没有选工种
              $.alert('请先选择工种然后再发布','温馨提示')
          }
      });*/
  </script>
</body>

</html>