<!-- 基础空白文档 -->
<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>选择工种</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <script type="text/javascript" src="../static/lib/index.min.js"></script>          <!-- 解决移动端适配 -->
  <link rel="stylesheet" href="../static/css/weui.css">
  <link rel="stylesheet" href="../static/iconfont/iconfont.css">
  <link rel="stylesheet" href="../static/css/jquery-weui.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="jobs">
    <header>
      <i class="iconfont icon-location"></i><span>深圳市福田区新民路24号</span>
    </header>
    <!-- 主体内容 -->
    <section class="main">
      <div class="jobsBox">
        <div class="jobs_hd">请选择您需要的工种，最多两个</div>
        <div class="jobs_bd flex">
          <input type="button" class="job" value="土建木工">
          <input type="button" class="job active" value="土建木工">
        </div>
      </div>
    </section>

    <!-- 底部 -->
    <footer>
        <a href="workerList.html"><button  class="publish"><i class="iconfont icon-gouxuan"></i>立即发布</button></a> <a href="userCenter.html"><button  class="personal"><i class="iconfont icon-wode"></i>我的</button></a>
    </footer>
  </div>

  <script type="text/javascript" src="../static/lib/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="../static/js/jquery-weui.min.js"></script>        <!-- 为将来做拓展，引入Jquery weui -->
  <script type="text/javascript" src="../static/lib/fastclick.js"></script>            <!-- 解决点击屏幕延迟，需要测试是否有效，无效再删除 -->
  <script>
    // 开启fastclick功能
    $(function() {
        FastClick.attach(document.body);
    });
  </script>
</body>

</html>