<!-- 基础空白文档 -->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>注册</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <script type="text/javascript" src="../static/lib/index.min.js"></script>          <!-- 解决移动端适配 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../static/css/style201806031533.css">
</head>

<body class="page">
<div class="login">
    <!-- 主体内容 -->
    <section class="main">
        <h1>e我速工</h1>
        <form action="/register/" method="post" id="loginForm">
            <div class="registerBox">
                <h4>Hi,欢迎登陆</h4>
                <div class="phoneBox">
                    <input id="phoneNum" type="number" name="phoneNum" onkeyup="checkPhoneNum(this)" value="" placeholder="请输入手机号码" >
                </div>
                <div class="codeBox">
                    <input id="signCode" type="number" onkeyup="checksignCode(this)" name="signCode" value="" placeholder="请输入验证码" >
                    <input id="openid" type="hidden" value="{{ openid }}" name="openid">
                    <input type="button"  class="weui-btn weui-btn_primary weui-btn_mini validCodeBtn" onclick="sendMessage()" value="获取验证码" />
                </div>
            </div>
            <p id="tips"></p>
            <div class="submitBox">
                <button type="submit" id="loginBtn" class="weui-btn weui-btn_primary">登录</button>
                <p class="info">未注册的手机号登录时将自动注册且<br/>代表您已同意
                    <a id="policy" href="javascript:;">用户协议</a>
                </p>
            </div>
        </form>
    </section>
    <p id="policyText" style="display: none;">"e我速工”：提供各项在线便捷服务的所有权和经营权归深圳市速工科技有限公司所有。以下均用“速工”代表。
        用户：该协议的用户包含工人、班组长，包工头、劳务公司、总包公司以及代班等用户。以下统称为该平台的“用户”。
        "速工"提供找工、找项目、招工、发项目包、记工记账及其它与此相关联的在线便捷服务。用户行为必须接受以下所列条款制约，如若不接受该协议，则不能成为“速工”用户。如接受本声明之条款，表示您将遵守本协议之规定。使用“速工”产品该协议即生效。“速工”保留更新本协议和再通知用户的权力。
        如果您对“速工”声明有关本协议的任何更改都是不可接受的，则您享有的“速工”资格与服务即被取消；否则“速工”将默认您的行为构成对本协议更改的接受。本司将根据系统的发展需要适时、合理、合法的修订、增补条款，因此本司建议对本应用有需求之用户定期查看这些条款；如果您不接受条款的任何改变并通知本司，则视为您不再接受本应用提供之服务，本司建议您终止浏览和使用本系统信息和资源。如您不接受条款的修订和增补而未通知本司，则视为您同意修订和增补，您有权按照本系统的使用规定依法浏览和使用本系统的信息和资源。
        一、 系统使用规则声明：
        1、 求职者用户应遵守之规则：
        求职者用户通过本系统的信息平台寻求工作，即视为同意本系统及使用本系统招聘的企业或者包工头用户通过搜索引擎查询、阅览、下载求职者用户的个人简历。求职者用户在本系统登记填写的个人简历将按本系统规则保存在本系统的数据库中。求职者用户同意把个人简历等资料交给使用本系统的招工用户，但因此产生的风险与责任由求职者用户自行承担。如果招工用户将求职者用户的个人资料用于招聘以外的任何其它目的，本司对此无法控制并声明对招工用户的此种行为不承担任何责任，但本司有权根据求职者用户的投诉依本系统运营规则依法对招工用户的此种行为采取相应的措施。
        2、 招工用户应遵守之规则：
        在招工用户为使用本系统之信息和资源而按照本系统之规则支付服务费或接受免费的促销服务之后，招工用户即享有登录本系统相应平台发布招工信息的权利，并享有登录本系统的求职者数据库寻求适合的求职者简历。但是，招工用户在使用本系统的信息和资源寻求求职者简历的信息时，即表示招工用户无条件同意将所获得的资料仅用于招聘之目的。招工用户须对发布的招聘信息之真实性、合法性负责，本司不对也无法对该招聘信息之真实性、合法性进行审查和负责。本司有权根据系统的发展需要在适当的时候对系统进行编辑和改版。本司有权根据系统的发展需要在适当的时候改变系统服务方式方法，或依法变更服务收费标准。如果招工用户未能依系统规则或合约支付服务费或其它相关费用，本司有权暂停或终止招工用户所享有的系统服务的权利。
        3、 禁止声明：
        求职者用户和招工用户均同意下列禁止条款：
        (1) 求职者用户不得伪造简历，不得登记虚假的或不准确的个人简历资料；
        (2) 禁止求职者用户和招工用户利用本系统发送产品广告及其他非为求职和招聘为目的利用本系统的信息和资源。求职者用户通过本系统寻求招工用户之目的只是为了寻求招工用户之岗位工作，而招工用户通过本系统得到求职者用户的信息，也以考察聘用求职者用户为唯—目的；
        (3) 禁止求职者用户和招工用户盗用、借用他人在本系统的登记信息进行登录和使用系统信息和资源；
        (4) 禁止侵犯或试图侵犯本系统的安全性（该种禁止行为包括但不限于：接触未经许可的数据或进入未经许可的服务器或账户；没有得到本司许可，企图探查、扫描、测试系统或者网络的弱点或破坏本系统的安全措施；企图干涉对使用者及网络的服务，包括但不限于通过超载、“摧毀”或“邮件炸弹”等手段；伪造TCP/IP数据包名称或部份名称以破坏本司的系统系统或网络）；
        (5) 禁止任何其它违反法律法规、部门规章的行为。
        二、 版权声明：
        1、 本系统包含之所有内容：文本、信息、图形、LOGO、创意、材料及软件版权等知识产权归本司所有，受法律保护；
        2、 未经本司书面许可，任何单位及个人不得以任何方式或理由对上述版权等知识产权的任何部份进行使用、下载、复制、修改、抄录、传播或对内容进行收集、组合和重新组合。否则即为侵权，本司有权依法追求其侵权法律责任。
        三、 信息发布声明：
        本系统仅为求职者用户和招工用户提供查询、发布求职和招聘信息的平台，只能用于合法之目的，即登记信息、查阅信息。
        1、 禁止在发布的信息中公布不完整、虚假或不准确的资料，若发现用户违反了相关使用规定，本司将保留暂停或终止对该用户的服务的权利；
        2、 在本系统发布的所有信息，均不得违反国家及地方政府关于互联网网络信息安全的法规、条例、管理办法及其它相关法律法规的规定；
        3、 发布的信息内容由发布该信息的用户负责解释，并独立承担由此引发的一切后果和法律责任；
        4、 本司有权使用用户通过本系统发布的所有信息，同时保留对用户发布信息管理、修改、删除的权利；
        5、 未经本司授权，禁止用户将本系统的信息用于其它用途。
        四、 安全声明：
        用户一旦注册成功，成为本系统的会员，将得到一个密码和用户名。会员可随时改变密码。会员对用户名和密码安全负全部责任，不得将其用户名、密码转让或出借予他人使用，会员都要对以其用户名进行的所有活动和事件负全责。会员若发现任何非法使用用户帐号或存在安全漏洞的情况，请立即通告本系统。
        五、 免责声明：
        1、 对于由用户在本系统平台输入而不是由本司公布的信息，由用户对该信息进行甄别和使用，本司不负责对该信息进行真实性、准确性与合法性审查。用户应本着诚实信用和守法的原则输入真实合法的信息，否则因此引起的一切责任后果由用户自行承担；
        2、 用户使用本系统其它用户输入的信息时，由用户自行甄别其真实性、准确性与合法性，因信息不当，或因信息的真实性、准确性及合法性问题造成用户损失的，由用户自行承担；
        3、 本司对与本系统相链接的其它系统的内容不负责任。本系统提供链接仅作为互联网的引导工具之用，目的是便于用户使用互联网查阅信息；
        4、 由于互联网的特性，本系统不保证也无法保证本系统能始终无故障地运行、不保证系统和服务器不受病毒或其它有害机构的侵害，当本系统遭遇前述问题时，由本司及用户自行承担各自所遭受的损害及损失。
        5、 正常的系统升级或维护，或者因网络拥塞致用户不能正常访问本系统而造成本系统所提供的数据和信息的错误、延误或停滞，以及用户由此受到的损失，由用户承担。
        6、 因本司过错而致用户损失的索赔，以本司收取的用户已支付的费用金额为限，未支付费用的，或不需支付费用的，用户没有索赔权。
        7、 本系统提供的记工记账功能，是方便劳务双方计量工作以及工资发放的一种途径，非唯一方式，用户应当视情况使用，由于双方计量方式不一致而导致的纠纷，本公司不承担任何责任。
        六、 法律适用和争议处理：
        本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律法规。如用户就使用本协议与本系统发生任何争议，应提交深圳市速工科技有限公司所在地有管辖权的人民法院进行诉讼。</p>

    <!--隐藏的后台差值尽量写在页面底部，id名为openidInsert，与openid做区分-->
    <span id="openidInsert" style="display:none;">{{ openid }}</span>

</div>

<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="../static/lib/jquerySession.js"></script>
<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
<script>

    $(function () {
        // 开启fastclick功能
        FastClick.attach(document.body);
        window.localStorage.setItem("openid",$('#openidInsert').text());

        $('#policy').click(function () {
            var $policyTxt = $("#policyText").text();
            $.alert($policyTxt, "用户协议");
        })
    });

    // alert("初始的openid:"+ $("#openid").val());
    //注册验证
    var loginBtn = document.getElementById("loginBtn");
    var tips = document.getElementById("tips");
    loginBtn.onclick = function () {
        var phoneVal = document.getElementById('phoneNum').value;
        window.localStorage.setItem("phoneNum",phoneVal);
        var signCodeVal = document.getElementById('signCode').value;
        if(phoneVal == "" ){
            tips.innerHTML = "请输入手机号";
            return false;
        }
        if(signCodeVal == ""){
            tips.innerHTML = "请输入验证码";
            return false;
        }
    };

    //字数验证
    function checkPhoneNum(obj) {
        tips.innerHTML = "";
        var phoneNum = obj.value;
        if(phoneNum.length > 11){
            obj.value = phoneNum.slice(0,11);
            tips.innerHTML = "只能输入11位手机号";
        }
    }
    function checksignCode(obj) {
        tips.innerHTML = "";
        var phoneNum = obj.value;
        if(phoneNum.length > 4){
            obj.value = phoneNum.slice(0,4);
            tips.innerHTML = "只能输入11位手机号";
        }
    }

    //获取验证码
    var InterValObj; //timer变量，控制时间
    var count = 60; //间隔函数，1秒执行
    var curCount;//当前剩余秒数
    function sendMessage() {
        window.clearInterval(InterValObj);//停止计时器
        curCount = count;
        var phoneNum=$("#phoneNum").val();//手机号码
        if(phoneNum != ""){
            //设置button效果，开始计时
            $(".validCodeBtn").attr("disabled", "true");
            $(".validCodeBtn").addClass("weui-btn_plain-default");
            $(".validCodeBtn").removeClass("weui-btn_primary");
            $(".validCodeBtn").val(curCount + "秒后重新获取");
            InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
            //向后台发送处理数据
            $.ajax({
                async: true,
                url: '/verify_code/',
                dataType: "json",
                type: "post",
                data: {
                    openid: $("#openid").val(),
//                  openid: "oT69X1PX1jG6Ojhij3tQVOGSnWzQ",
                    phoneNum:$("#phoneNum").val()
                },
                success: function (res) {
                    var res = {"Message":"123465invalid mobile number","RequestId":"3D9745E3-5E87-4B7D-9A7A-EC89C66DBA73","Code":"isv.MOBILE_NUMBER_ILLEGAL"}
                    if(res.Code = "isv.MOBILE_NUMBER_ILLEGAL") {
                        tips.innerHTML = "您输入的手机号有误";
                    }
                },
                error: function(error) {
                    console.log(error.readyState, error.statusText);
                }
            });
        }else{
            tips.innerHTML = "手机号码不能为空！";
        }
    }

    //倒计时timer处理函数
    function SetRemainTime() {
        if (curCount == 0) {
            window.clearInterval(InterValObj);//停止计时器
            $(".validCodeBtn").removeAttr("disabled");//启用按钮
            $(".validCodeBtn").addClass("weui-btn_primary");
            $(".validCodeBtn").removeClass("weui-btn_plain-default");
            $(".validCodeBtn").val("重新获取验证码");
        }
        else {
            curCount--;
            $(".validCodeBtn").val(curCount + "秒后重新获取");
        }
    }
</script>
</body>
</html>
