<!-- 基础空白文档 -->
<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>我的</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <script type="text/javascript" src="../static/lib/index.min.js"></script>          <!-- 解决移动端适配 -->
  <link rel="stylesheet" href="../static/css/weui.css">
  <link rel="stylesheet" href="../static/css/jquery-weui.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="personal page">
    <!-- 页面导航，后面需要注销掉 -->
    <div class="nav flex">
      <div class="icon-left">返回</div>
      <div class="title">我的</div>
      <div class="icon-right"></div>
    </div>

    <!-- 头部 -->
    <header>
      
    </header>

    <!-- 主体内容 -->
    <section class="main">
      <div class="portraitBox">
        <img src="images/defaultHead.png">
        <a class="username" href="#">张三 木工</a>
      </div>
      <ul class="menuBox">
        <li class="menuList"><a href="#" class="link flex"><span class="title">历史查看</span><span>icon</span></a></li>
        <li class="menuList"><a href="#" class="link flex"><span class="title">我的资料</span><span>icon</span></a></li>
        <li class="menuList"><a href="#" class="link flex"><span class="title">交易记录</span><span>icon</span></a></li>
      </ul>
    </section>

    <!-- 底部 -->
    <footer>
      <div class="footerBox">
        <input type="button" class="publish" value="取消发布"><input type="button" class="personal" value="我的">
      </div>
    </footer>
  </div>

  <script type="text/javascript" src="../static/lib/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="../static/js/jquery-weui.min.js"></script>        <!-- 为将来做拓展，引入Jquery weui -->
  <script type="text/javascript" src="../static/lib/fastclick.js"></script>            <!-- 解决点击屏幕延迟，需要测试是否有效，无效再删除 -->
  <script>
    // 开启fastclick功能
    $(function() {
        FastClick.attach(document.body);
    });
  </script>
</body>

</html>