<!-- 基础空白文档 -->
<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>个人资料</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <script type="text/javascript" src="../static/lib/index.min.js"></script>          <!-- 解决移动端适配 -->
  <link rel="stylesheet" href="../static/css/weui.css">
  <link rel="stylesheet" href="../static/css/jquery-weui.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="profile page">
    <!-- 页面导航，后面需要注销掉 -->
    <div class="nav flex">
      <div class="icon-left">返回</div>
      <div class="title">个人资料</div>
      <div class="icon-right"></div>
    </div>

    <!-- 主体内容 -->
    <section class="main">
      <div class="portraitBox">
        <img src="images/defaultHead.png">
        <a class="username" href="#">张三 木工</a>
      </div>
      <div class="profileBox">
        <label for="username">用户名</label>
        <input type="text" id="username" placeholder="张三" disabled>
        <label for="jobs">工种</label>
        <input type="button" value="木工">
        <input type="button" value="瓦工">
        <label for="username">电话号码</label>
        <input type="text" id="phone" placeholder="15080755770" disabled>
      </div>

    </section>

  </div>
  <script type="text/javascript" src="../static/lib/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="../static/js/jquery-weui.min.js"></script>        <!-- 为将来做拓展，引入Jquery weui -->
  <script type="text/javascript" src="../static/lib/fastclick.js"></script>            <!-- 解决点击屏幕延迟，需要测试是否有效，无效再删除 -->
  <script>
    // 开启fastclick功能
    $(function() {
        FastClick.attach(document.body);
    });
  </script>
</body>

</html>