<!-- 基础空白文档 -->
<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>个人资料</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <script type="text/javascript" src="../static/lib/index.min.js"></script>          <!-- 解决移动端适配 -->
  <link rel="stylesheet" href="../static/css/weui.css">
  <link rel="stylesheet" href="../static/css/jquery-weui.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="profile">
      <section class="main">
          <a class="changePortrait" href="#"><img src="../static/images/defaultHead.png"></a>
          <div class="inputBox">
            <label for="username">用户名
            <input disabled class="username" type="text" id="username" placeholder="张小伟">
          </label>
            <label for="username">电话号码
            <input disabled class="username" type="text" id="phoneNum" placeholder="15080755770">
          </label>
            <span>工种</span>
            <div class="tagBox"></div>
          </div>
        </section>
  </div>
  <script type="text/javascript" src="../static/lib/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="../static/lib/jquerySession.js"></script>
  <script type="text/javascript" src="../static/js/jquery-weui.min.js"></script>        <!-- 为将来做拓展，引入Jquery weui -->
  <script type="text/javascript" src="../static/lib/fastclick.js"></script>            <!-- 解决点击屏幕延迟，需要测试是否有效，无效再删除 -->
  <script>
    $(function() {
        FastClick.attach(document.body);

        $("#username").attr("placeholder",window.localStorage.getItem("username"));
        $("#phoneNum").attr("placeholder",window.localStorage.getItem("phoneNum"));             //todo:需要骏哥在baseProfile再传回来一下；

        var $tags = "";
        //循环工种数组，取出对应的title
        $.each(window.localStorage.getItem("myJob"), function (key, tagval) {
            //工种数据
            var $jobList = [
                {
                    title: "土建木工",
                    value: 1
                }, {
                    title: "装修木工",
                    value: 2
                }, {
                    title: "铺砖工",
                    value: 3
                }, {
                    title: "铁工",
                    value: 4
                }, {
                    title: "空调工",
                    value: 5
                }, {
                    title: "贴墙纸工",
                    value: 6
                }, {
                    title: "刮腻子工",
                    value: 7
                }, {
                    title: "仿古油漆工",
                    value: 8
                }, {
                    title: "油性油漆工",
                    value: 9
                }, {
                    title: "彩绘工",
                    value: 10
                }, {
                    title: "高空作业工",
                    value: 11
                }, {
                    title: "铝焊工",
                    value: 12
                }, {
                    title: "不锈钢焊工",
                    value: 13
                }, {
                    title: "特殊焊工",
                    value: 14
                }, {
                    title: "绿化工",
                    value: 15
                }, {
                    title: "汽修工",
                    value: 16
                }, {
                    title: "铲车/钩机",
                    value: 17
                }, {
                    title: "压路机/泥头车",
                    value: 18
                }, {
                    title: "吊车货车司机",
                    value: 19
                }, {
                    title: "高压电工",
                    value: 20
                }, {
                    title: "低压电工",
                    value: 21
                }, {
                    title: "弱电工",
                    value: 22
                }, {
                    title: "临时杂工",
                    value: 23
                }, {
                    title: "网络布线维护",
                    value: 24
                }, {
                    title: "雕刻师傅",
                    value: 25
                }, {
                    title: "高空作业工",
                    value: 26
                }, {
                    title: "水泥塑石工",
                    value: 27
                }
            ];

            //将工种与title对应上
            $.each($jobList, function (key, job) {

                if (job.value == tagval) {
                    $tags += '<span class="tag">' + job.title + '</span>';
                }
            });
        });

        $('.tagBox').append($tags);



    });
  </script>
</body>

</html>