<!-- 基础空白文档 -->
<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>选择角色</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <script type="text/javascript" src="../static/lib/index.min.js"></script>          <!-- 解决移动端适配 -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <link rel="stylesheet" href="../static/css/style201805271119.css">
</head>

<body class="page">
  <div class="role page">
    <section class="main flex">
      <form action="/role/" method="post">
        <div class="roleBox">
          <label for="worker"><img src="../static/images/role_worker.png" ><br>
            <input class="worker" type="radio" id="worker" name="role" value="1">我是技术人员
          </label>

        </div>
        <div class="roleBox">
          <label for="boss"><img src="../static/images/role_boss.png" ><br>
            <input type="radio" id="boss" name="role" value="2" checked >我需要专业技术人员
          </label>

        </div>
        <input id="openid" type="hidden" value="{{ openid }}" name="openid">
        <button type="submit" class="weui-btn weui-btn_primary confirmBtn">确定</button>
      </form>
    </section>
  </div>

  <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>

  <script>
    $(function() {
        FastClick.attach(document.body);

        $(".confirmBtn").click(function () {
            var $roleVal = $('input[name="role"]:checked').val();
            window.localStorage.setItem("role",$roleVal);
        })

    });
  </script>
</body>

</html>