<!DOCTYPE html >
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript">
        function formatTime(str) {

            var oDate = new Date(str),
                oYear = oDate.getFullYear(),
                oMonth = oDate.getMonth() + 1,
                oDay = oDate.getDate(),
                oHour = oDate.getHours(),
                oMin = oDate.getMinutes(),
                oSen = oDate.getSeconds(),
                oTime = getzf(oMonth) + '-' + getzf(oDay) + ' ' + getzf(oHour) + ':' + getzf(oMin);//最后拼接时间
//            return oTime;
            console.log(oTime)
            alert(1);
        };

        //补0操作
        function getzf(num) {
            alert(2);
            if (parseInt(num) < 10) {
                num = '0' + num;
            }
            return num;
        }

        formatTime(1526800315880);

    </script>
</head>
<body>
<form>
</form>
</body>
</html>