<!-- 基础空白文档 -->
<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>交易记录</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <script type="text/javascript" src="../static/lib/index.min.js"></script>          <!-- 解决移动端适配 -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <link rel="stylesheet" href="../static/iconfont/iconfont.css">
  <link rel="stylesheet" href="../static/css/style201806032229.css">
</head>

<body class="page">
  <div class="transaction">
    <section class="main">
      <ul class="listCon">
      </ul>
    </section>

    <!--隐藏的后台差值尽量写在页面底部，id名为openidInsert，与openid做区分-->
    <span id="openidInsert" style="display:none;">{{ openid }}</span>


  </div>

  <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script type="text/javascript" src="../static/lib/jquerySession.js"></script>
  <script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
  <script>
    // 开启fastclick功能
    $(function() {
        FastClick.attach(document.body);
        window.localStorage.setItem("openid",$('#openidInsert').text());

        //初始化数据
        var $j=0;
        var $totalPage = 10;
        var $currentPage = 1;
        loadData($currentPage);

        //上拉加载
        var $loading = false;  //状态标记
        $(document.body).infinite().on("infinite", function() {
            if($loading) return;
            $loading = true;
            ++ $currentPage;
            if($currentPage <= $totalPage ){
                loadData($currentPage);
                $loading = false;
            } else {
                console.log("不执行了")
                $(document.body).destroyInfinite();
                $('.loadMoreTip').css("display","none");
                $('.bottomTips').css("display","block");
                $loading = false;
            }

        });

        // 加载数据时状态显示
        $('.weui-loadmore').ajaxStart(function () {
            $(this).show();
        });

        $('.weui-loadmore').ajaxStop(function () {
            $(this).hide();
        });

        //加载对应页码数据
        function loadData(page) {
            $j++;
            console.log("开始执行loadData函数,第"+ $j + "次执行");
            console.log('第'+ $j + '次执,loadData向后台请求的页码数'+ page);

            $.ajax({
                async: true,
                url: "/transaction_ajax/",                    /*/transaction_ajax/*/
                dataType: "json",
                type: "post",
                data: {
              openid: window.localStorage.getItem("openid"),
//                    openid: "oT69X1PX1jG6Ojhij3tQVOGSnWzQ",
                    page: page
                },
                success: function (data) {
                    $totalPage = data.totalPage;
                    $currentPage = data.currentPage;
                    console.log('第'+ $j + '次执,现在数据中的totalPage:'+ $totalPage);
                    console.log('第'+ $j + '次执,现在数据中的currentPage,也是自身的$currentPage:'+ $currentPage);
                    showData(data.listData);
                    console.log("第" + $j + "次请求结束");
                },
                error: function (error) {
                    console.log(error.readyState, error.statusText);
                }
            });


        }

        //渲染数据
        function showData(data) {
            $.each(data, function (key, val) {
                //拼大字符串
                var $str = "";
                $str += '<li class="listItem">\n' +
                    '          <div class="list_hd flex">\n' +
                    '            <div class="tagBox">订单编号:' + val.billid + '</div>\n' +
                    '          </div>\n' +
                    '          <div class="list_bd flex">\n' +
                    '            <p>' + val.transcationType+ '</p>\n' +
                    '            <span class="money">' + formatCurrency(val.transcationMoney) + '</span>\n' +
                    '          </div>\n' +
                     '        <div class="list_bd flex">\n' +
                    '            <p>交易时间：</p>\n' +
                    '            <span class="publishedTime">' + formatTime(val.transcationTime) + '</span>\n' +
                    '          </div>\n' +
                    '        </li>';
                $('.listCon').append($str);
            });

            //日期格式化
            function formatTime(str) {
                    console.log(str);
                var oDate = new Date(str),
                    oYear = oDate.getFullYear(),
                    oMonth = oDate.getMonth() + 1,
                    oDay = oDate.getDate(),
                    oHour = oDate.getHours(),
                    oMin = oDate.getMinutes(),
                    oSen = oDate.getSeconds(),
                    oTime = getzf(oYear) + '-' + getzf(oMonth) + '-' + getzf(oDay) + ' ' + getzf(oHour) + ':' + getzf(oMin);//最后拼接时间
                return oTime;
            }

            //补0操作
            function getzf(num) {
                if (parseInt(num) < 10) {
                    num = '0' + num;
                }
                return num;
            }

            //金钱格式化
            function formatCurrency(num) {
                if(num >= 0 ) {
                    return '<span class="green">' + (num/100).toFixed(2) + '<strong>元</strong></span>';
                } else {
                    return '<span class="red"> ' + (num/100).toFixed(2) + '<strong>元</strong></span>';
                }

            }

        }

    });
  </script>
</body>

</html>