<!-- 基础空白文档 -->
<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>交易记录</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <script type="text/javascript" src="../static/lib/index.min.js"></script>          <!-- 解决移动端适配 -->
  <link rel="stylesheet" href="../static/css/weui.css">
  <link rel="stylesheet" href="../static/iconfont/iconfont.css">
  <link rel="stylesheet" href="../static/css/jquery-weui.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="transcation">
    <section class="main">
      <ul class="listCon">
        <li class="listItem">
          <div class="list_hd flex">
            <div class="tagBox">订单编号:<span class="tag">124537842</span></div>
            <p class="publishedTime">发布时间：03-24 18:42</p>  
          </div>
          <div class="list_bd flex">
            <p>查看扣款</p>
            <span class="money">0.5元</span>
          </div>
        </li>
        <li class="listItem">
          <div class="list_hd flex">
            <div class="tagBox">订单编号:<span class="tag">124537842</span></div>
            <p class="publishedTime">发布时间：03-24 18:42</p>  
          </div>
          <div class="list_bd flex">
            <p>查看扣款</p>
            <span class="money">0.5元</span>
          </div>
        </li>
      </ul>
    </section>

  </div>

  <script type="text/javascript" src="../static/lib/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="../static/js/jquery-weui.min.js"></script>        <!-- 为将来做拓展，引入Jquery weui -->
  <script type="text/javascript" src="../static/lib/fastclick.js"></script>            <!-- 解决点击屏幕延迟，需要测试是否有效，无效再删除 -->
  <script>
    // 开启fastclick功能
    $(function() {
        FastClick.attach(document.body);
    });
  </script>
</body>

</html>