<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <title>上传照片</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">

    <link rel="stylesheet" href="../static/css/weui.css">
    <link rel="stylesheet" href="../static/css/style201806032229.css">
    <style>
        .upload-image-page {
            padding: 0 15px;
        }

        .upload-image-page .weui-cells.weui-cells_form:before {
            border-top: 1px solid #fff;
        }

        .upload-image-page .weui-cells.weui-cells_form:after {
            border-bottom: 1px solid #fff;
        }

        .upload-image-page .upload-btn-wrap {
            margin-top: 30px;
        }
    </style>

</head>

<body class="page">
<div class="upload-image-page">
    <section class="main">

        <div class="weui-gallery" id="gallery">
            <span class="weui-gallery__img" id="galleryImg"></span>
            <div class="weui-gallery__opr">
                <a href="javascript:" class="weui-gallery__del">
                    <i class="weui-icon-delete weui-icon_gallery-delete" style="margin-bottom: 50px"></i>
                </a>
            </div>
        </div>

        <div class="weui-cells weui-cells_form" id="uploader">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="weui-uploader">
                        <div class="weui-uploader__hd">
                            <p class="weui-uploader__title">图片上传</p>
                        </div>
                        <div class="weui-uploader__bd">
                            <ul class="weui-uploader__files" id="uploaderFiles">

                                <li class="weui-uploader__file file-item" data-src="#url#"><img src="#url#" style="width: 100%;max-height: 100%;"></li>
                                <li class="weui-uploader__file file-item" data-src="#url#"><img src="#url#" style="width: 100%;max-height: 100%;"></li>
                                <li class="weui-uploader__file file-item" data-src="#url#"><img src="#url#" style="width: 100%;max-height: 100%;"></li>
                            </ul>
                            <div class="weui-uploader__input-box">
                                <input id="uploaderInput" class="weui-uploader__input zjxfjs_file" type="file"
                                       accept="image/*" multiple="" capture="camera">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="upload-btn-wrap">
            <a href="javascript:;" id="upload-btn" class="weui-btn weui-btn_primary">上传</a>
            <a href="javascript:goUrl('userrepresentation');" class="weui-btn weui-btn_default">取消</a>
        </div>
    </section>

</div>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>        <!-- 引入微信js sdk -->
<script type="text/javascript" src="../static/js/weui.min.js"></script>
<script type="text/javascript" src="../static/lib/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../static/js/utility.js"></script>
<script>
    $(function () {
        //调用微信sdk配置
        wx.config({
            // debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: "{{ appid }}", // 必填，企业号的唯一标识，此处填写企业号corpid
            timestamp: "{{timestamp}}", // 必填，生成签名的时间戳
            nonceStr: "{{ nonceStr }}", // 必填，生成签名的随机串
            signature: "{{ signature }}",// 必填，签名，见附录1
            jsApiList: [
                'chooseImage',
                'previewImage',
                'uploadImage',
                'downloadImage',
                'getLocalImgData'

            ]
        });
        //通过error接口处理失败验证
        wx.error(function (res) {
            $.scojs_message(res.errMsg, $.scojs_message.TYPE_ERROR);
        });

        var localIds = [];
        var serverIds = [];
        var tmpl = '<li class="weui-uploader__file file-item" data-src="#url#"><img src="#url#" style="width: 100%;max-height: 100%;"></li>';


        wx.ready(function () {
            // 1 判断当前版本是否支持指定 JS 接口，支持批量判断
            wx.checkJsApi({
                jsApiList: [
                    'chooseImage',
                    'previewImage',
                    'uploadImage',
                    'downloadImage'
                ],
                success: function (res) {
                    //alert(JSON.stringify(res));
                    if (res.checkResult.getLocation == false) {
                        alert('你的微信版本太低，不支持微信JS接口，请升级到最新的微信版本！');
                        return;
                    } else {
                        $("#uploaderInput").click(function () {
                            wxChooseImage();
                        })
                    }
                },
                error: function (res) {
                    alert(JSON.stringify("error=" + res));
                }
            });

            //上传图片
            function wxChooseImage() {
                wx.chooseImage({
                    success: function (res) {

                        console.log("得到图片本地ID： " + res.localIds);

                        var i = 0, length = res.localIds.length;

                        //保存本地图片列表
                        localIds = res.localIds;

                        function upload() {
                            //判断是否已经上传了足够的图片
                            var len = $(".file_item").length;
                            if (len >= 9) {
                                alert("上传图片数量已达上限");
                                return;
                            }
                            wx.uploadImage({
                                localId: res.localIds[i],
                                success: function (result) {

                                    console.log(result.serverId);
                                    serverIds = result.serverId;

                                    var src = localIds[i];
                                    $("#uploaderInput").closest(".weui-uploader__bd").find(".weui-uploader__files").append($(tmpl.replace('#url#', src).replace('#url#', src)));

                                    //是否继续显示上传“+”按钮
                                    len = $("#uploaderInput").closest(".weui-uploader__bd").find(".weui-uploader__files li").length;//已经选了几张？
                                    if (len >= 9) {
                                        $("#uploaderInput").closest(".weui-uploader__input-box").hide();
                                    }

                                    i++;
                                    if (i < length) {
                                        upload();
                                    }
                                },
                                fail: function (res) {
                                    alert(JSON.stringify(res));
                                }
                            })
                        }

                        upload();

                    }
                })
            }

            //删除图片
            $(".weui-gallery__del").click(function (ev) {
                var num = $(this).index();
                var list = $("#uploaderInput").closest(".weui-uploader__bd").find(".weui-uploader__files li");
                $.each(list,function (index,item) {
                    if(index == num){
                        list.eq(index).remove();
                    }
                })

            });

            //上传微信服务器图片地址到本地服务器
           $("#upload-btn").click(function(){
               $.ajax({
                   url:"uploadimg/",
                   type:get,
                   data:{list:serverIds},
                   success: function(result,status,xhr){
                       console.log(result);
                       goUrl('userrepresentation');
                   }
               });
           })


        })


    });
</script>
</body>

</html>
