<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <title>上传照片</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">

    <link rel="stylesheet" href="../static/css/weui.css">
    <link rel="stylesheet" href="../static/css/style201806032229.css">
    <style>
        .upload-image-page {
            padding: 0 15px;
        }

        .upload-image-page .weui-cells.weui-cells_form:before {
            border-top: 1px solid #fff;
        }

        .upload-image-page .weui-cells.weui-cells_form:after {
            border-bottom: 1px solid #fff;
        }

        .upload-image-page .upload-btn-wrap {
            margin-top: 30px;
        }
    </style>

</head>

<body class="page">
<div class="upload-image-page">
    <section class="main">

        <div class="weui-gallery" id="gallery">
            <span class="weui-gallery__img" id="galleryImg"></span>
            <div class="weui-gallery__opr">
                <a href="javascript:" class="weui-gallery__del">
                    <i class="weui-icon-delete weui-icon_gallery-delete" style="margin-bottom: 50px"></i>
                </a>
            </div>
        </div>

        <div class="weui-cells weui-cells_form" id="uploader">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="weui-uploader">
                        <div class="weui-uploader__hd">
                            <p class="weui-uploader__title">图片上传</p>
                        </div>
                        <div class="weui-uploader__bd">
                            <ul class="weui-uploader__files" id="uploaderFiles">

                            </ul>
                            <div class="weui-uploader__input-box">
                                <input id="uploaderInput" class="weui-uploader__input zjxfjs_file" type="file"
                                       accept="image/*" multiple="" capture="camera">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="upload-btn-wrap">
            <a href="javascript:;" id="upload-btn" class="weui-btn weui-btn_primary">上传</a>
            <a href="javascript:goUrl('userrepresentation');" class="weui-btn weui-btn_default">取消</a>
        </div>
    </section>

</div>
<script type="text/javascript" src="../static/js/weui.min.js"></script>
<script type="text/javascript" src="../static/lib/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../static/js/utility.js"></script>
<script>
    $(function () {
        //调用微信sdk配置
        wx.config({
            // debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: "{{ appid }}", // 必填，企业号的唯一标识，此处填写企业号corpid
            timestamp: "{{timestamp}}", // 必填，生成签名的时间戳
            nonceStr: "{{ nonceStr }}", // 必填，生成签名的随机串
            signature: "{{ signature }}",// 必填，签名，见附录1
            jsApiList: [
                'chooseImage',
                'previewImage',
                'uploadImage',
                'downloadImage',
                'getLocalImgData'

            ]
        });
        //通过error接口处理失败验证
        wx.error(function (res) {
            $.scojs_message(res.errMsg, $.scojs_message.TYPE_ERROR);
        });

        var tmpl = '<li class="weui-uploader__file" style="background-image:url(#url#)"></li>',
            $gallery = $("#gallery"),
            $galleryImg = $("#galleryImg"),
            $uploaderInput = $("#uploaderInput"),
            $uploaderFiles = $("#uploaderFiles"),
            fileArr = [];

        var localIds;
        $uploaderInput.on("change", function (e) {
            wx.chooseImage({
                count: 9, // 默认9
                sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                success: function (res) {
                    console.log(res);
                    localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                }
            });

        })






        // $uploaderInput.on("change", function (e) {
        //     var src, url = window.URL || window.webkitURL || window.mozURL,
        //         files = e.target.files;
        //     var length = fileArr.length;
        //     for (var i = 0, len = files.length; i < len; ++i) {
        //         var file = files[i];
        //         if (length + i + 1 > 9) {
        //             break;
        //         }
        //         fileArr.push(file);
        //         if (url) {
        //             src = url.createObjectURL(file);
        //         } else {
        //             src = e.target.result;
        //         }
        //         $uploaderFiles.append($(tmpl.replace('#url#', src)));
        //     }
        //     checkPhotoSize();
        // });
        //
        // //控制显示三张以内照片
        // function checkPhotoSize() {
        //     if (fileArr.length > 8) {
        //         $(".weui-uploader__input-box").hide();
        //     } else {
        //         $(".weui-uploader__input-box").show();
        //     }
        // }
        //
        // var index; //第几张图片
        // $uploaderFiles.on("click", "li", function () {
        //     index = $(this).index();
        //     $galleryImg.attr("style", this.getAttribute("style"));
        //     $gallery.fadeIn(100);
        // });
        // $gallery.on("click", function () {
        //     $gallery.fadeOut(100);
        // });
        // //删除图片
        // $(".weui-gallery__del").click(function () {
        //     $uploaderFiles.find("li").eq(index).remove();
        //     fileArr.splice(index, index);
        //     checkPhotoSize();
        // });

        //上传
        $("#upload-btn").click(function () {
            var uploadCount = 0;

            wx.uploadImage({
                localId: 'localIds', // 需要上传的图片的本地ID，由chooseImage接口获得
                isShowProgressTips: 1, // 默认为1，显示进度提示
                success: function (res) {
                    console.log(res);
                    var serverId = res.serverId; // 返回图片的服务器端ID
                }
            });






            // weui.uploader('#uploader', {
            //     url: 'uploadimg/',          //TODO：这里的地址要改
            //     auto: false,
            //     type: 'file',
            //     fileVal: 'fileArr',
            //     compress: {
            //         width: 1600,
            //         height: 1600,
            //         quality: .8
            //     },
            //     onBeforeQueued: function(files) {
            //         if(["image/jpg", "image/jpeg", "image/png", "image/gif"].indexOf(this.type) < 0){
            //             weui.alert('请上传图片');
            //             return false; // 阻止文件添加
            //         }
            //         if(this.size > 10 * 1024 * 1024){
            //             weui.alert('请上传不超过10M的图片');
            //             return false;
            //         }
            //         if (files.length > 9) { // 防止一下子选择过多文件
            //             weui.alert('最多只能上传5张图片，请重新选择');
            //             return false;
            //         }
            //
            //         ++uploadCount;
            //
            //         // return true; // 阻止默认行为，不插入预览图的框架
            //     },
            //     onQueued: function(){
            //         console.log(this);
            //
            //         // console.log(this.status); // 文件的状态：'ready', 'progress', 'success', 'fail'
            //         // console.log(this.base64); // 如果是base64上传，file.base64可以获得文件的base64
            //
            //         this.upload(); // 如果是手动上传，这里可以通过调用upload来实现；也可以用它来实现重传。
            //         // this.stop(); // 中断上传
            //
            //         // return true; // 阻止默认行为，不显示预览图的图像
            //     },
            //     onBeforeSend: function(data, headers){
            //         console.log(this, data, headers);
            //         // $.extend(data, { test: 1 }); // 可以扩展此对象来控制上传参数
            //         // $.extend(headers, { Origin: 'http://127.0.0.1' }); // 可以扩展此对象来控制上传头部
            //
            //         // return false; // 阻止文件上传
            //     },
            //     onProgress: function(procent){
            //         console.log(this, procent);
            //         // return true; // 阻止默认行为，不使用默认的进度显示
            //     },
            //     onSuccess: function (ret) {
            //         console.log(this, ret);
            //         // return true; // 阻止默认行为，不使用默认的成功态
            //     },
            //     onError: function(err){
            //         console.log(this, err);
            //         // return true; // 阻止默认行为，不使用默认的失败态
            //     }
            // });
        })
    });
</script>
</body>

</html>
