<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <title>上传照片</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">

    <link rel="stylesheet" href="../static/css/weui.css">
    <link rel="stylesheet" href="../static/css/style201806032229.css">
    <style>
        .upload-image-page {
            padding: 0 15px;
        }

        .upload-image-page .weui-cells.weui-cells_form:before {
            border-top: 1px solid #fff;
        }

        .upload-image-page .weui-cells.weui-cells_form:after {
            border-bottom: 1px solid #fff;
        }

        .upload-image-page .upload-btn-wrap {
            margin-top: 30px;
        }

        .tips {
            text-align: center;
            color: #fff;
            background: rgba(0, 0, 0.4);
            line-height: 20px;
            display: none;
        }
    </style>

</head>

<body class="page">
    <div class="tips" id="upload-status">上传中</div>
    <div class="upload-image-page">
        <section class="main">

            <div class="weui-gallery" id="gallery">
                <span class="weui-gallery__img" id="galleryImg"></span>
                <div class="weui-gallery__opr">
                    <a href="javascript:" class="weui-gallery__del">
                        <i class="weui-icon-delete weui-icon_gallery-delete" style="margin-bottom: 50px"></i>
                    </a>
                </div>
            </div>

            <div class="weui-cells weui-cells_form" id="uploader">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <div class="weui-uploader">
                            <div class="weui-uploader__hd">
                                <p class="weui-uploader__title">图片上传</p>
                            </div>
                            <div class="weui-uploader__bd">
                                <ul class="weui-uploader__files" id="uploaderFiles">

                                </ul>
                                <div class="weui-uploader__input-box">

                                    <input id="uploaderInput" disabled class="weui-uploader__input" type="file"
                                        accept="image/*" multiple="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="upload-btn-wrap">
                <a href="javascript:;" id="upload-btn" class="weui-btn weui-btn_primary">上传</a>
                <a href="javascript:goUrl('userrepresentation');" class="weui-btn weui-btn_default">取消</a>
            </div>
        </section>

    </div>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script> <!-- 引入微信js sdk -->
    <script type="text/javascript" src="../static/js/weui.min.js"></script>
    <script type="text/javascript" src="../static/lib/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="../static/js/utility.js"></script>
    <script>

        $(function () {
            //调用微信sdk配置
            wx.config({
                // debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: "{{ appid }}", // 必填，企业号的唯一标识，此处填写企业号corpid
                timestamp: "{{timestamp}}", // 必填，生成签名的时间戳
                nonceStr: "{{ nonceStr }}", // 必填，生成签名的随机串
                signature: "{{ signature }}",// 必填，签名，见附录1
                jsApiList: [
                    'chooseImage',
                    'previewImage',
                    'uploadImage',
                    'downloadImage'
                ]
            });

            //微信SDK还未加载成功时，禁止操作上传按钮
            var $chooseImageBtn = $("#uploaderInput");


            var LIds = [];
            var SIds = [];
            var len;

            var tmpl = '<li class="weui-uploader__file file_item" ><img src="#url#" style="width: 100%;max-height: 100%;"></li>';

            wx.ready(function () {
                //放开禁用
                $chooseImageBtn.attr("disabled", false);
                //选择图片
                $chooseImageBtn.click(function (ev) {
                    ev.preventDefault();
                    wx.chooseImage({
                        count: 9, // 默认9
                        sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                        sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                        success: function (res) {

                            len = LIds.length;
                            var max = 9 - len;    //剩余可以传的数量
                            if (res.localIds.length > max) {
                                alert("超过图片上传数量，请重新选择。")
                                return;
                            } else {
                                LIds.push.apply(LIds, res.localIds);
                            }
                            if (LIds.length >= 9) {
                                $("#uploaderInput").closest(".weui-uploader__input-box").hide();
                            }
                            showImg(LIds);

                            var i = 0;
                            function upload() {
                                wx.uploadImage({
                                    localId: LIds[i],
                                    isShowProgressTips: 1,
                                    success: function (result) {
                                        SIds.push(result.serverId)
                                        i++;
                                        if (i < len) {
                                            upload()
                                        } else {
                                            //向后台发送微信服务器上图片的地址
                                            $.ajax({
                                                url: "uploadimg/",
                                                data: { imgList: SIds },
                                                type: "get",
                                                success: function (response) {
                                                    console.log(response);
                                                    $("#upload-status").hide();
                                                    weui.toast('上传成功', {
                                                        duration: 3000,
                                                        callback: function () { 
                                                            goUrl('userrepresentation');
                                                         }
                                                    });
                                                },
                                                fail: function (err) {
                                                    console.log(err);
                                                }
                                            })

                                        }
                                    }
                                })

                            }

                            //是否继续显示上传“+”按钮
                            $("#upload-btn").click(function () {
                                upload()
                            })

                            var num;
                            $("#uploaderFiles ").on("click","li",function (ev) {
                                $("#gallery").show();
                                num = $(this).index();
                                var url = LIds[$(this).index()];
                                // $("#galleryImg").append('<img src="' + url + '"/>');
                                $("#galleryImg").css('background','url('+ url +') no-repeat center center');

                            })
                            $("#gallery").on("click", function () {
                                $("#galleryImg").html("");
                                $(this).hide();
                            })

                            //删除图片
                            $(".weui-gallery__del").click(function (ev) {
                                $("#gallery").hide();
                                LIds.splice(num, 1);
                                $("#galleryImg").css('background','');
                                showImg(LIds);
                                if (LIds.length < 9) {
                                    $("#uploaderInput").closest(".weui-uploader__input-box").show();
                                }
                            });


                            function showImg(arr) {
                                var str = "";
                                $("#uploaderInput").closest(".weui-uploader__bd").find(".weui-uploader__files").html("");
                                for (var k = 0; k < arr.length; k++) {
                                    str += '<li class="weui-uploader__file file_item" data-index="' + k + '"><img src="' + arr[k] + '" style="width: 100%;max-height: 100%;"></li>';
                                }
                                $("#uploaderInput").closest(".weui-uploader__bd").find(".weui-uploader__files").append(str)
                            }

                        }
                    });
                });
            })





        });
    </script>
</body>

</html>