<!-- 基础空白文档 -->
<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>我的</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <script type="text/javascript" src="../static/lib/index.min.js"></script>          <!-- 解决移动端适配 -->
  <link rel="stylesheet" href="../static/css/weui.css">
  <link rel="stylesheet" href="../static/iconfont/iconfont.css">
  <link rel="stylesheet" href="../static/css/jquery-weui.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="userCenter">
    <section class="main">
      <div class="changePortrait" ><img class="portrait" src="../static/images/defaultHead.png"><p class="username"></p></div>
      <div class="tagBox"></div>
      <ul class="menuBox">
        <li class="menuList"><a href="javascript:;" onclick="goUrl('history');" class="link flex"><span class="title"><i class="iconfont icon-history"></i>历史查看</span><i class="iconfont icon-arrow-right"></i></a></li>
        <li class="menuList"><a href="javascript:;"  onclick="goUrl('history');" class="link flex"><span class="title"><i class="iconfont icon-profile"></i>我的资料</span><i class="iconfont icon-arrow-right"></i></a></li>
        <li class="menuList"><a href="javascript:;"  onclick="goUrl('history');" class="link flex"><span class="title"><i class="iconfont icon-record"></i>交易记录</span><i class="iconfont icon-arrow-right"></i></a></li>
      </ul>
    </section>
  </div>

  <script type="text/javascript" src="../static/lib/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="../static/lib/jquerySession.js"></script>
  <script type="text/javascript" src="../static/js/jquery-weui.min.js"></script>        <!-- 为将来做拓展，引入Jquery weui -->
  <script type="text/javascript" src="../static/lib/fastclick.js"></script>            <!-- 解决点击屏幕延迟，需要测试是否有效，无效再删除 -->
  <script type="text/javascript"src="../static/js/utility.js"></script>
  <script>
    // 开启fastclick功能
    $(function() {
        FastClick.attach(document.body);



        //显示用户名
        $(".username").html(window.localStorage.getItem('username'));
        // 显示头像
        $(".portrait").attr("src",window.localStorage.getItem('headimgurl'));

        //显示tag标签
        function showTag() {
            var myJobArr = $.session.get('myJob').split(",");
            var $tags = '<span class="tag">'+ myJobArr[0] +'</span><span class="tag">'+ myJobArr[0] +'</span>';
            $("tagBox").html($tags);

        }

    });



  </script>
</body>

</html>