<!-- 基础空白文档 -->
<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>我的</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <script type="text/javascript" src="../static/lib/index.min.js"></script>          <!-- 解决移动端适配 -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <link rel="stylesheet" href="../static/iconfont/iconfont.css">
  <link rel="stylesheet" href="../static/css/style201806032229.css">
</head>

<body class="page">
  <div class="userCenter">
    <section class="main">
      <div class="changePortrait" ><img class="portrait" src="{{ headimgurl }}"><p class="username">{{ username }}</p></div>
      <div class="tagBox"></div>
      <ul class="menuBox">
        <li class="menuList"><a href="javascript:goUrl('userrepresentation');"  class="link flex"><span class="title"><i class="iconfont icon-jianjie" style="color:#"></i>我的介绍</span><i class="iconfont icon-arrow-right"></i></a></li>
        <li class="menuList"><a href="javascript:goUrl('history');"  class="link flex"><span class="title"><i class="iconfont icon-history"></i>历史查看</span><i class="iconfont icon-arrow-right"></i></a></li>
        <li class="menuList"><a href="javascript:goUrl('profile');"   class="link flex"><span class="title"><i class="iconfont icon-profile"></i>我的资料</span><i class="iconfont icon-arrow-right"></i></a></li>
        <li class="menuList"><a href="javascript:goUrl('transaction');"   class="link flex"><span class="title"><i class="iconfont icon-record"></i>交易记录</span><i class="iconfont icon-arrow-right"></i></a></li>
        <li class="menuList"><a href="javascript:goUrl('role');"   class="link flex"><span class="title"><i class="iconfont icon-qiehuan"></i>切换身份</span><i class="iconfont icon-arrow-right"></i></a></li>
      </ul>
    </section>

    <!--隐藏的后台差值尽量写在页面底部，id名为openidInsert，与openid做区分-->
    <span id="openidInsert" style="display:none;">{{ openid }}</span>

  </div>

  <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script type="text/javascript" src=" ../static/lib/jquerySession.js"></script>
  <script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
  <script type="text/javascript" src="../static/js/utility.js"></script>
  <script>
    $(function() {
        FastClick.attach(document.body);

        window.localStorage.setItem("openid",$('#openidInsert').text());
        window.localStorage.setItem("headimgurl",$('.portrait').attr('src'));
        window.localStorage.setItem("username",$('.username').text());

        /*function showTag() {
            var myJobArr = $.session.get('myJob').split(",");
            var $tags = '<span class="tag">'+ myJobArr[0] +'</span><span class="tag">'+ myJobArr[0] +'</span>';
            $("tagBox").html($tags);
        }

        showTag();*/

    });



  </script>
</body>

</html>
