<!-- 基础空白文档 -->
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <script type="text/javascript" src="../static/lib/index.min.js"></script>          <!-- 解决移动端适配 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
    <link rel="stylesheet" href="../static/css/style201806032229.css">
</head>

<body class="page">
<div class="workerList">
    <!-- 头部 -->
    <header>
        <div class="weui-navbar">
            <div class="weui-navbar__item weui_bar__item_on"  id="distanceFilter">
                <span>离我最近<span class="filterArrow"></span></span>

            </div>
            <div class="weui-navbar__item"  id="pubTimeFilter"><span>最新上线<span class="filterArrow"></span></span>
            </div>
        </div>
    </header>

    <!-- 主体内容 -->
    <section class="main">
        <div class="weui-loadmore">
            <i class="weui-loading"></i>
            <span class="weui-loadmore__tips">正在加载</span>
        </div>
        <ul class="listCon">
        </ul>

        <p class="loadMoreTip weui-footer__text">加载更多</p>
        <p class="bottomTips weui-footer__text">没有更多了</p>
    </section>

    <!-- 底部 -->
        <button class="fixedBtn bigBtn cancel"><i class="iconfont icon-quxiao"></i>取消发布</button>
    <footer>
        <div class="weui-tabbar">
            <a href="javascript:goUrl('nearby');" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <i class="iconfont icon-fujinderen"></i>
                </div>
                <p class="weui-tabbar__label">附近的人</p>
            </a>
            <a href="javascript:goUrl('workerList');" class="weui-tabbar__item weui-bar__item--on">
                <div class="weui-tabbar__icon">
                    <i class="iconfont icon-zhifeiji"></i>
                </div>
                <p class="weui-tabbar__label">在线发布</p>
            </a>
            <a href="javascript:goUrl('userCenter');" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <i class="iconfont icon-gerenzhongxin"></i>
                </div>
                <p class="weui-tabbar__label">个人中心</p>
            </a>
        </div>
    </footer>

    <!--隐藏的后台差值尽量写在页面底部，id名为openidInsert，与openid做区分-->
    <span id="openidInsert" style="display:none;">{{ openid }}</span>
    <span id="roleInsert" style="display:none;">{{ role }}</span>

</div>

<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="../static/lib/jquerySession.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>        <!-- 引入微信js sdk -->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=BVbS3AVAs8iNor6NGxKfc1gG5OcqTxBu"></script>
<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
<script type="text/javascript"src="../static/js/utility.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
        window.localStorage.setItem("openid",$('#openidInsert').text());

        //调用微信sdk配置
        wx.config({
            // debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: "{{ appid }}", // 必填，企业号的唯一标识，此处填写企业号corpid
            timestamp: "{{timestamp}}", // 必填，生成签名的时间戳
            nonceStr: "{{ nonceStr }}", // 必填，生成签名的随机串
            signature: "{{ signature }}",// 必填，签名，见附录1
            jsApiList: [
                'getLocation',
                'chooseWXPay',
                'onMenuShareTimeline',
                'onMenuShareAppMessage'

            ]
        });
        //通过error接口处理失败验证
        wx.error(function (res) {
            $.scojs_message(res.errMsg, $.scojs_message.TYPE_ERROR);
        });

        //修改标题
        var $role = $("#roleInsert").text();
        var $title = "";
        var $head = $("head");
        if($role == "1"){
            $title = '<title>以下是附近的老板找人干活</title>';
            $head.eq(0).append($title);
        } else {
            $title = '<title>以下是附近的工人找活干</title>';
            $head.eq(0).append($title);
        };


        //初始化数据
        var $j=0;
        var $totalPage = 10;
        var $currentPage = 1;
        //var $byDis = true;
        //var $byPubTime = true;
        var $byDis = {{ byDis|safe }};
        var $byPubTime = {{ byPubTime|safe }};
        loadData($currentPage,$byDis,$byPubTime);


        //上拉加载
        var $loading = false;  //状态标记
        $(document.body).infinite().on("infinite", function() {
            if($loading) return;
            $loading = true;
            ++ $currentPage;
            if($currentPage <= $totalPage ){
                loadData($currentPage,$byDis,$byPubTime);                 //测试
                $loading = false;
            } else {
//                console.log("不执行了");
                $(document.body).destroyInfinite();
                $('.loadMoreTip').css("display","none");
                $('.bottomTips').css("display","block");
                $loading = false;
            }

        });

        // 加载数据时状态显示
        $('.weui-loadmore').ajaxStart(function () {
            $(this).show();
        });

        $('.weui-loadmore').ajaxStop(function () {
            $(this).hide();
        });

        //取消发布按钮弹窗
        $('.cancel').click(function () {
            $.confirm("取消后，您的信息将对其他人不可见", "确认取消", function () {
                $.ajax({
                    url: "/jobs/",
                    type: "post",
                    data: {
                        online: false,
                      openid: window.localStorage.getItem("openid"),
//                        openid: "oT69X1PX1jG6Ojhij3tQVOGSnWzQ",
                        timestamp: $.now()
                    },
                    success: function () {
                        location.href = "/jobs/?openid="+window.localStorage.getItem("openid");
//                        location.href = "/jobs/?openid=oT69X1PX1jG6Ojhij3tQVOGSnWzQ";
                    }
                });
            }, function () {
                return false;
            });
        });

        //距离排序
        $("#distanceFilter").click(function () {
            $("#distanceFilter .filterArrow").toggleClass('active');
            $byDis = !$byDis;
            $(".listCon").html("");
            $currentPage = 1;
            loadData($currentPage,$byDis,$byPubTime);
        });

        //时间排序
        $("#pubTimeFilter").click(function () {
            $("#pubTimeFilter .filterArrow").toggleClass('active');
            $byDis = 'false';
            $byPubTime = 'true';
            //$byPubTime = !$byPubTime;
            $(".listCon").html("");
            $currentPage = 1;
            loadData($currentPage,$byDis,$byPubTime);
        });

        //加载对应页码数据
        function loadData(page,byDis,byPubTime) {
//            console.log(new Date());
            $j++;
//            console.log("开始执行loadData函数,第"+ $j + "次执行");
//            console.log('第'+ $j + '次执,loadData向后台请求的页码数'+ page);

            $.ajax({
                async: true,
                url: "/worklist_ajax/",                    /*/worklist_ajax/*/
                dataType: "json",
                type: "post",
                data: {
                    openid: window.localStorage.getItem("openid"),
                    sortByDis: byDis,
                    sortByPubTime: byPubTime,
                    page: page
                },
                success: function (data) {
                    $totalPage = data.totalPage;
                    $currentPage = data.currentPage;
//                    console.log('第'+ $j + '次执,现在数据中的totalPage:'+ $totalPage);
//                    console.log('第'+ $j + '次执,现在数据中的currentPage,也是自身的$currentPage:'+ $currentPage);
                    showData(data.listData);
//                    console.log("第" + $j + "次请求结束");
                },
                error: function (error) {
                    console.log(error.readyState, error.statusText);
                }
            });


        }



        //渲染数据
        function showData(data) {

            var $tag = "";
            $.each(data, function (key, val) {
                //造tag标签
                var $tagArr = val.tag;
                if($tagArr.length == "1"){
                    if($role == "1"){
                        $tag = '招聘<span class="tag">' + $tagArr[0] + '</span>';
                    } else {
                        $tag = ' 我是<span class="tag">' + $tagArr[0] + '</span>';
                    }
                } else {
                    if($role == "1"){
                        $tag = '招聘<span class="tag">' + $tagArr[0] + '</span><span class="tag">' + $tagArr[1]+ '</span>';
                    } else {
                        $tag = '我是<span class="tag">' + $tagArr[0] + '</span><span class="tag">' + $tagArr[1]+ '</span>';
                    }
                }

                //拼大字符串
                var str = "";
                str += '<li class="listItem flex">' +
                    '<div class="infoBox flex">' +
                    '<div class="list_hd flex">' +
                    '<div class="tagBox"><span class="username"  data-userid="'+ val.userid +'">' + val.username + '</span>'+ $tag +'</div>' +
                    '<div class="star star' + val.star + '"></div>' +
                    '</div>' +
                    '<div class="list_bd flex">' +
                    '<span class="distance">距您：' + formatDistance(val.distance) + '</span>' +
                    '<p class="publishedTime">发布于：' + formatTime(val.pubTime) + '</p>' +
                    '</div>' +
                    '<div class="list_ft flex"><span class="userid">'+ val.userid + '</span>'+ isSharable(val.sharable) +  isRateble(val.isVisible) + isVisible(val.isVisible, val.phoneNum) +
                    '</div>' +
                    '</div>' +
                    '</li>';
                $('.listCon').append(str);

            });
//            console.log("现在li的总数"+ $(".listItem").length);
            //是否可以评价
            function isRateble(vis) {
                return vis ? '<a href="#" class="rate weui-btn weui-btn_mini weui-btn_default">评价</a>' : "";
            }

            //是否可见
            function isVisible(vis, val) {
                return vis ? '<a href="tel:' + val + '"' + ' class="dial weui-btn weui-btn_mini weui-btn_success">' + val + '</a>' :'<a href="javascript:;" class="check weui-btn weui-btn_mini weui-btn_primary">查看电话号码</a>'
            }

            //是否可分享
            function isSharable(sharable){
                return sharable ? '<a href="javascript:;" class="share weui-btn weui-btn_mini weui-btn_primary">分享朋友圈查看号码</a>' : '';
            }

            //距离格式化
            function formatDistance(val) {
                if (val > 1000) {
                    return (val / 1000).toFixed(2) + ' km';
                } else {
                    return parseInt(val) + ' m';
                }
            }

            //日期格式化
            function formatTime(str) {
                var oDate = new Date(str),
                    oYear = oDate.getFullYear(),
                    oMonth = oDate.getMonth() + 1,
                    oDay = oDate.getDate(),
                    oHour = oDate.getHours(),
                    oMin = oDate.getMinutes(),
                    oSen = oDate.getSeconds(),
                    oTime = getzf(oMonth) + '-' + getzf(oDay) + ' ' + getzf(oHour) + ':' + getzf(oMin);//最后拼接时间
                return oTime;
            }

            $(".username").on("click",function(){
                var userid = $(this).attr("data-userid");
                $.ajax({
                    url:"http://ewosugong.com/userrepresentation/",
                    data:{userid:userid},
                    type:"GET",
                    success:function(){
                        // alert(1);
                        location.href = "http://ewosugong.com/userrepresentation/?userid="+ userid;
                    }
                });
            });

            //补0操作
            function getzf(num) {
                if (parseInt(num) < 10) {
                    num = '0' + num;
                }
                return num;
            }

            var shareImgStr = '<img src="../static/images/shareTip.png" style="height: 100%;width: 100%;"/>';


            //分享调用
            $(".share").click(function (event) {
                var $thisList = $(event.currentTarget);
                var $rateVal = $thisList.siblings(".userid").html();
                $.alert({
                    title: '温馨提示',
                    text: shareImgStr,
                    onOK: function () {
                        window.localStorage.setItem("shareId",$rateVal)
                    }
                });

                wx.onMenuShareTimeline({
                    title: '上E我速工找工作就是快，各种工种都有！',
                    link: 'http://ewosugong.com/shareCode/', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: 'http://ofv416fej.bkt.clouddn.com/18-9-1/17425874.jpg', // 分享图标
                    success: function () {              //todo需要检验userid
                        // alert(1);
                        $.ajax({
                            url: "/moment_shared_notify/",                          /*/zhihu_pre/*/
                            dataType: "json",
                            type: "post",
                            data: {
                                openid: window.localStorage.getItem("openid"),
                                userid: window.localStorage.getItem("shareId"),             //想要查看谁的电话号码
                                shared: true
                            },
                            success: function (result) {
                                // alert(2);
                                // alert("&paySign=" + result.sign);
                                $.session.set("pSign", result.sign);
                                //直接跳转电话号码查看页面
                                location.href = "/dail/?openid=" + window.localStorage.getItem("openid") + "&paySign=" + result.sign;
                            }
                        })
                    }
                });
            });



            //查看电话号码弹窗
            $('.check').click(function (event) {
                var $thisList = $(event.currentTarget);
                var $rateVal = $thisList.siblings(".userid").html();
                $.confirm({
                    title: '温馨提示',
                    text: '查看电话号码需要支付1元查看费用,请联系人双方注意保护自己合法权益及人身安全，本平台不予负责。',
                    onOK: function () {
                        //通过ajax发送预订单所需基本信息
                        $.ajax({
                            url: "/zhihu_pre/",
                            dataType: "json",
                            type: "post",
                            data: {
                                openid: window.localStorage.getItem("openid"),
                                userid: $rateVal,             //想要查看谁的电话号码
                                shared: false
                            },
                            success: function (result) {
                                // alert("&paySign=" + result.sign);
                                $.session.set("pSign", result.sign);
                                //点击确认
                                wx.chooseWXPay({
                                    timestamp: result.timeStamp, // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
                                    nonceStr: result.nonceStr, // 支付签名随机串，不长于 32 位
                                    package: result.package, // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=\*\*\*）
                                    signType: 'MD5', // 签名方式，默认为'SHA1'，使用新版支付需传入
                                    // 'MD5'
                                    paySign: result.sign, // 支付签名
                                    success: function (res) {
                                        location.href = "/dail/?openid=" + window.localStorage.getItem("openid") + "&paySign=" + result.sign;
                                    },
                                    fail: function (errMsg) {
                                         console.log(errMsg);
                                    }
                                })
                            }
                        })
                    },
                    onCancel: function () {
                        return false;
                    }
                });
            });

            //拨号弹窗
            // 通过a链接自动拨号

            //评价弹窗
            $('.rate').click(function (event){
                var $thisList = $(event.currentTarget);
                var $rateVal = $thisList.siblings('.userid').html();
                // alert("评价获取的用户id" + $rateVal);
                var $star5 = '<span class="rateActionstar star5"></span><span class="rateDes" style="display:inline-block;text-align:left;width: 50px;">很专业</span>'
                var $star4 = '<span class="rateActionstar star4"></span><span class="rateDes" style="display:inline-block;text-align:left;width: 50px;">专业</span>'
                var $star3 = '<span class="rateActionstar star3"></span><span class="rateDes" style="display:inline-block;text-align:left;width: 50px;">一般</span>'
                var $star2 = '<span class="rateActionstar star2"></span><span class="rateDes" style="display:inline-block;text-align:left;width: 50px;">差</span>'
                var $star1 = '<span class="rateActionstar star1"></span><span class="rateDes" style="display:inline-block;text-align:left;width: 50px;">很差</span>'
                $.actions({
                    actions: [{
                        text: $star5,
                        onClick: function() {
                            rate($rateVal,5);
                        }
                    },{
                        text: $star4,
                        onClick: function() {
                            rate($rateVal,4);
                        }
                    },{
                        text: $star3,
                        onClick: function() {
                            rate($rateVal,3);
                        }
                    },{
                        text: $star2,
                        onClick: function() {
                            rate($rateVal,2);
                        }
                    },{
                        text: $star1,
                        onClick: function() {
                            rate($rateVal,1);
                        }
                    }]
                });

                function rate(id,rateCount) {
                    //发送评价数据
                    $.ajax({
                        url:"/rate/",
                        type: "post",
                        data: {
                                openid: window.localStorage.getItem("openid"),
//                            openid: "oT69X1PX1jG6Ojhij3tQVOGSnWzQ",
                            userid: id,
                            rateVal: rateCount
                        },
                        success: function () {
                            $.toast("评价成功", "text");
                            $thisList.hide();
                            $(".listCon").html("");
                            $currentPage = 1;
                            loadData($currentPage,$byDis,$byPubTime);
                        }

                    })
                }
            });
        }
    });




</script>
</body>

</html>
