<!-- 基础空白文档 -->
<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>列表页</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <script type="text/javascript" src="../static/lib/index.min.js"></script>          <!-- 解决移动端适配 -->
  <link rel="stylesheet" href="../static/css/weui.css">
  <link rel="stylesheet" href="../static/iconfont/iconfont.css">
  <link rel="stylesheet" href="../static/css/jquery-weui.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="workerList">
    <!-- 头部 -->
    <header>
        <div class="weui-navbar">
            <div class="weui-navbar__item weui_bar__item_on">
                离我最近
            </div>
            <div class="weui-navbar__item">
                最新上线
            </div>
          </div>
    </header>

    <!-- 主体内容 -->
    <section class="main">
      <ul class="listCon">
        <li class="listItem flex">
          <div class="portraitBox">
            <img src="../static/images/defaulthead.png" >
            <p>刘黎波</p>
          </div>
          <div class="infoBox flex">
              <div class="list_hd flex">
                  <div class="tagBox"><span class="tag">木工</span><span class="tag">木工</span></div>
                  <div class="star"><i class="iconfont icon-wuxing"></i></div>
                </div>
                <div class="list_bd flex">
                    <span class="distance">距您：2.6km</span>
                    <p class="publishedTime">发布于：03-24 18:42</p>
                </div>
                <div class="list_ft flex">
                    <a href="#" class="rate weui-btn weui-btn_mini weui-btn_plain-primary">评价</a>
                    <a href="#" class="check weui-btn weui-btn_mini weui-btn_primary">查看电话号码</a>
                </div>
          </div>
        </li>
        <li class="listItem flex">
          <div class="portraitBox">
            <img src="../static/images/defaulthead.png" >
            <p>刘黎波</p>
          </div>
          <div class="infoBox flex">
              <div class="list_hd flex">
                  <div class="tagBox"><span class="tag">木工</span><span class="tag">木工</span></div>
                  <div class="star"><i class="iconfont icon-wuxing"></i></div>
                </div>
                <div class="list_bd flex">
                    <span class="distance">距您：2.6km</span>
                    <p class="publishedTime">发布于：03-24 18:42</p>
                </div>
                <div class="list_ft flex">
                    <a href="#" class="rate weui-btn weui-btn_mini weui-btn_plain-primary">评价</a>
                    <a href="#" class="check weui-btn weui-btn_mini weui-btn_primary">查看电话号码</a>
                </div>
          </div>
        </li>
      </ul>
    </section>

    <!-- 底部 -->
    <footer>
        <a href="workerList.html"><button  class="unpublish"><i class="iconfont icon-gouxuan"></i>立即发布</button></a> <a href="personal.html"><button  class="personal"><i class="iconfont icon-wode"></i>我的</button></a>
    </footer>
  </div>

  <script type="text/javascript" src="../static/lib/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="../static/js/jquery-weui.min.js"></script>        <!-- 为将来做拓展，引入Jquery weui -->
  <script type="text/javascript" src="../static/lib/fastclick.js"></script>            <!-- 解决点击屏幕延迟，需要测试是否有效，无效再删除 -->
  <script>
    // 开启fastclick功能
    $(function() {
        FastClick.attach(document.body);
    });
  </script>
</body>

</html>