@charset "UTF-8";
/* 为减少加载，提高用户体验，所有自己写的页面样式写在一个文件内，每个页面定义一个类名，与文件名保持一致 */
/* ============================================================公共样式开始============================================================ */
.blue {
  color: #3493eb; }

.deepblue {
  color: #3284d1; }

.flex {
  display: flex; }

body {
  background: #fff; }

.clearfix:after {
  display: block;
  content: '';
  clear: both; }

footer {
  position: fixed;
  width: 100%;
  height: 46px;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  font-size: 0; }
  footer a:first-child button {
    border-right: 1px solid rgba(100, 100, 100, 0.2); }
  footer button {
    width: 50%;
    height: 46px;
    outline: none;
    border: none;
    background: #eaeaea;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    font-size: 15px; }
  footer .iconfont {
    margin: 0 4px; }
  footer .publish {
    background: #3493eb;
    color: #fff; }
  footer .unpublish {
    background: #fbaf5d;
    color: #fff; }

/* ============================================================私有样式开始============================================================ */
/* 注册页面开始 */
.register {
  background: #fff url(../images/wave_bg.jpg) no-repeat center top;
  background-size: 100% auto; }
  .register .main {
    text-align: center; }
    .register .main h1 {
      padding-top: 1.17rem;
      color: #fff;
      font-size: 48px; }
    .register .main .registerBox {
      width: 86%;
      background: #fff;
      margin: 1.17rem auto 0 auto;
      box-shadow: 0 0.1rem 0.2rem rgba(100, 100, 100, 0.2);
      padding-bottom: 20px; }
      .register .main .registerBox h4 {
        padding-top: 15px;
        color: #f8d851;
        font-size: 16px;
        font-weight: normal; }
      .register .main .registerBox .phoneBox, .register .main .registerBox .codeBox {
        width: 90%;
        margin: 0 auto;
        height: 60px;
        text-align: left;
        box-sizing: border-box;
        padding: 12px 0; }
      .register .main .registerBox .phoneBox {
        border-bottom: 1px solid #e0e0e0; }
        .register .main .registerBox .phoneBox input[type="tel"] {
          outline: none;
          border: none;
          height: 35px;
          line-height: 35px;
          width: 100%; }
      .register .main .registerBox .codeBox {
        position: relative; }
        .register .main .registerBox .codeBox input[type="number"] {
          outline: none;
          border: none;
          height: 35px;
          line-height: 35px;
          width: 100%; }
        .register .main .registerBox .codeBox .codeBtn {
          position: absolute;
          top: 50%;
          margin-top: -10px;
          right: 0; }
        .register .main .registerBox .codeBox input[type="button"]:active {
          background: #3284d1;
          color: #fff; }
    .register .main .submitBox {
      margin: .6rem auto;
      width: 86%; }
      .register .main .submitBox .tips {
        margin-top: 15px;
        font-size: 13px;
        line-height: 1.5em;
        color: #9f9f9f; }
        .register .main .submitBox .tips a {
          color: #3493eb;
          text-decoration: underline; }

/* 注册页面结束 */
/* 角色选择界面开始 */
.role .main {
  flex-direction: column;
  justify-content: space-around;
  height: 100vh; }
  .role .main .roleBox {
    margin: 0 auto 0 auto;
    text-align: center;
    widows: 50%; }
    .role .main .roleBox label {
      width: 100%;
      display: block;
      font-size: 18px;
      color: #333; }
      .role .main .roleBox label img {
        width: 50%; }
  .role .main .confirmBtn {
    width: 86%; }

/* 角色选择界面结束 */
/* 基础资料填写开始 */
.baseProfile {
  background: #fff; }
  .baseProfile .main {
    height: 100vh;
    width: 86%;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-top: 2rem;
    font-size: 14px; }
    .baseProfile .main img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid #e0e0e0; }
    .baseProfile .main .inputBox {
      margin-top: 1rem;
      text-align: left; }
      .baseProfile .main .inputBox .username {
        margin-top: 4px;
        height: 46px;
        line-height: 46px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #dedede;
        outline: none;
        padding: 0 0 0 14px;
        box-sizing: border-box; }
      .baseProfile .main .inputBox .username.active {
        box-shadow: 0 0 1px 2px #3493eb; }
    .baseProfile .main .submitBtn {
      margin-top: 1rem; }

/* 基础资料填写结束 */
/* 选择工种开始 */
.jobs header {
  background: #3493eb;
  text-align: center;
  font-size: 12px;
  line-height: 2.5em;
  color: #fff; }
  .jobs header .iconfont {
    font-size: 13px;
    margin-right: 2px; }
.jobs .main {
  font-size: 14px;
  padding: 0 12px;
  box-sizing: border-box; }
  .jobs .main .jobsBox {
    margin-top: 10px; }
    .jobs .main .jobsBox .jobs_bd {
      justify-content: flex-start;
      width: 100%;
      flex-wrap: wrap;
      position: relative; }
      .jobs .main .jobsBox .jobs_bd .job {
        width: 27%;
        margin: 10px 3%;
        border: 1px solid #999999;
        border-radius: 3px;
        background: #fff;
        color: #666666;
        font-size: 13px;
        line-height: 2.4em;
        position: relative; }
      .jobs .main .jobsBox .jobs_bd .job.active {
        color: #fff;
        background: #3493eb;
        border: 1px solid #3284d1; }

/* 选择工种结束 */
/* 工人列表页开始 */
.workerList {
  background: #f5f6f7;
  padding-top: 60px; }
  .workerList header {
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0;
    top: 0; }
  .workerList .main {
    height: 100vh;
    box-sizing: border-box;
    font-size: 14px; }
    .workerList .main .listItem {
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      justify-content: space-between;
      background: #fff;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      margin-bottom: 10px; }
      .workerList .main .listItem .portraitBox {
        width: 1.6rem;
        text-align: center; }
        .workerList .main .listItem .portraitBox img {
          border-radius: 50%;
          width: 54px;
          height: 54px;
          border: 1px solid #e0e0e0; }
      .workerList .main .listItem .infoBox {
        width: 7.6rem;
        flex-direction: column;
        justify-content: space-between; }
        .workerList .main .listItem .infoBox .list_hd {
          justify-content: space-between; }
          .workerList .main .listItem .infoBox .list_hd .tag {
            border: 1px solid #fbaf5d;
            padding: 0 10px;
            font-size: 12px;
            line-height: 1.5em;
            color: #fbaf5d;
            border-radius: 2px;
            margin-right: 4px; }
          .workerList .main .listItem .infoBox .list_hd .star {
            color: #fbaf5d; }
        .workerList .main .listItem .infoBox .list_bd {
          justify-content: space-between;
          font-size: 12px;
          color: #999; }
        .workerList .main .listItem .infoBox .list_ft {
          font-size: 13px;
          justify-content: flex-end; }
          .workerList .main .listItem .infoBox .list_ft .weui-btn {
            margin-top: 0;
            margin-left: 10px;
            margin-right: 0;
            line-height: 1.8em; }
          .workerList .main .listItem .infoBox .list_ft .rate {
            display: none; }

/* 列表页结束 */
/* 个人中心开始 */
.personal .main {
  text-align: center; }

.personal .main .portraitBox {
  margin-top: 50px;
  width: 60px;
  margin: 50px auto;
  text-align: center; }

.personal .main .portraitBox img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  display: block;
  margin-bottom: 20px; }

.personal .main .portraitBox .username {
  font-size: 14px; }

.personal .main .menuBox {
  text-align: left; }

.personal .main .menuBox .menuList .link {
  justify-content: space-between; }

/* 个人中心结束 */
/* 历史查看开始 */
.history {
  background: #f5f6f7; }

/* 历史查看结束 */
/* 交易记录开始 */
.transcation {
  background: #f5f6f7; }

/* 交易记录结束 */
/* 个人资料开始 */
.profile .main {
  text-align: center; }

.profile .main .portraitBox {
  margin-top: 50px;
  width: 60px;
  margin: 50px auto;
  text-align: center; }

.profile .main .portraitBox img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  display: block;
  margin-bottom: 20px; }

.profile .main .profileBox {
  text-align: left; }

.profile .main .profileBox label {
  display: block; }

/* 个人资料结束 */

/*# sourceMappingURL=style.css.map */
